/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   iBT150 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

#include "AudioSrv.h"
#include "product.config"
#include "deviceTypes.h"
#include "limits.h" //UINT_MAX

//DSP
#include "ADAU1451_IC_1_PARAM.h" 


/*****************************************************************
 * Config Data
 *****************************************************************/
/* measured in ms */
#define AUDIO_ACTIVE_DELAY_UNMUTE_TIME          500
#define AUDIO_SWITCH_CHANNEL_DELAY_TIME         500 

/* Time Period */
#define AUDIO_PRINT_PREIOD_IN_MS   5000


/* Pin usage */
#define  AMP_WAKEUP(x)           GpioDrv_SetBit(&(x),GPIO_OUT_AMP_SDZ) //SDZ: Active LOW
#define  AMP_SHUTDOWN(x)         GpioDrv_ClearBit(&(x),GPIO_OUT_AMP_SDZ)

#define  SYSPWR_ENABLE(x)        GpioDrv_SetBit(&(x),GPIO_OUT_SYSPWR_ON) //Active HIGH
#define  SYSPWR_DISABLE(x)       GpioDrv_ClearBit(&(x),GPIO_OUT_SYSPWR_ON)


/*****************************************************************
 * DSP NTC Temperature Register
 *****************************************************************/
#define DSP_TEMP_WF_AMP_REGISTER    MOD_SE_TUNING_TEMPWFAMP_DCINPALG145X8VALUE_ADDR
#define DSP_TEMP_WF_SPK_REGISTER    MOD_SE_TUNING_TEMPWFSPK_DCINPALG145X7VALUE_ADDR
#define DSP_TEMP_TW_SPK_REGISTER    MOD_SE_TUNING_TEMPTWSPK_DCINPALG145X6VALUE_ADDR
#define DSP_TEMP_BATT_REGISTER      MOD_SE_TUNING_TEMPBATT_DCINPALG145X9VALUE_ADDR

#define DSP_READBACK_TEMP_WF_AMP_REGISTER    MOD_SE_TUNING_READBACK_TEMPWFAMP_READBACKALGSIGMA3007_ADDR
#define DSP_READBACK_TEMP_WF_SPK_REGISTER    MOD_SE_TUNING_READBACK_TEMPWFSPK_READBACKALGSIGMA3006_ADDR
#define DSP_READBACK_TEMP_TW_SPK_REGISTER    MOD_SE_TUNING_READBACK_TEMPTWSPK_READBACKALGSIGMA3005_ADDR
#define DSP_READBACK_TEMP_BATT_REGISTER      MOD_SE_TUNING_READBACK_TEMPBATT_READBACKALGSIGMA3008_ADDR

#define DSP_READBACK_OVERHEAT_GAIN_WF_REGISTER    MOD_SE_TUNING_READBACK_WFGAIN_READBACKALGSIGMA30014_ADDR
#define DSP_READBACK_OVERHEAT_GAIN_TW_REGISTER    MOD_SE_TUNING_READBACK_TWGAIN_READBACKALGSIGMA30013_ADDR

#define DSP_READBACK_OVERHEAT_COIL_TEMP_WF_REGISTER    MOD_TEMPWF_READBACK_WFCOILTEMP_READBACKALGSIGMA30012_ADDR
#define DSP_READBACK_OVERHEAT_COIL_TEMP_TW_REGISTER    MOD_TEMPTW_READBACK_TWCOILTEMP_READBACKALGSIGMA3009_ADDR

#define SIGMASTUDIOTYPE_8_24_CONVERT(x) (x)
#define DSP_OUTPUT_GAIN_LINEAR MOD_GAIN3_GAINALGNS145X39GAIN_VALUE

/* When read from "RMS level detect", it loss 3.829dB (AP say 0dBFS sine wave, but it say -3.829dBFS)
 * To workaround, we add 3.829 after read from level detector
 */
#define DSP_GAIN_READ_ADD_DB 4.0



/*****************************************************************
 * Temperature
 *****************************************************************/
#define AUDIO_TEMP_MAX   SHRT_MAX
#define AUDIO_TEMP_MIN   SHRT_MIN

const sRange ampTempLevels[TL_NUM] =
{ // upper              lower
    {AUDIO_TEMP_MAX,    90            },  // 0:TL_CRITICAL, shutdown battery & system
    {87,                85            },  // 1:TL_SERIOUS, shutdown amplifier
    {AUDIO_TEMP_MAX,    AUDIO_TEMP_MAX},  // 2:TL_WARN, fake level, never trigger
    {75,                AUDIO_TEMP_MIN},  // 3:TL_NORMAL
    {AUDIO_TEMP_MIN,    AUDIO_TEMP_MIN},  // 4:TL_SUBNORMAL, fake level, never trigger
    {AUDIO_TEMP_MIN,    AUDIO_TEMP_MIN},  // 5:TL_CRITICAL_COLD, fake level, never trigger
};

const sRange spkTempLevels[TL_NUM] =
{ // upper              lower
    {AUDIO_TEMP_MAX,    90            },  // 0:TL_CRITICAL, shutdown battery & system
    {87,                85            },  // 1:TL_SERIOUS, shutdown amplifier
    {AUDIO_TEMP_MAX,    AUDIO_TEMP_MAX},  // 2:TL_WARN, fake level, never trigger
    {75,                AUDIO_TEMP_MIN},  // 3:TL_NORMAL
    {AUDIO_TEMP_MIN,    AUDIO_TEMP_MIN},  // 4:TL_SUBNORMAL, fake level, never trigger
    {AUDIO_TEMP_MIN,    AUDIO_TEMP_MIN},  // 5:TL_CRITICAL_COLD, fake level, never trigger
};


#define TEMPERATURE_POSITIONS_NUM  ArraySize(audioNtcTempTable)


/* Temperature lookup table, fine-tune after tempearture measurement
 * Formula:
 *    Accurary-temp = 1.338*datasheet-temp - 10.675
 * array index is "degree C"
 */
const uint16 audioNtcTempTable[] =
{
    3739,    3726,    3713,    3699,    3689,    3675,    3660,    3645,    3633,    3618, //0~9 degree C
    3601,    3589,    3572,    3555,    3537,    3524,    3506,    3487,    3468,    3453, //10~19 degree C
    3434,    3414,    3393,    3377,    3356,    3335,    3313,    3296,    3273,    3250, //20~29 degree C
    3233,    3209,    3185,    3161,    3142,    3118,    3092,    3067,    3047,    3021, //30~39 degree C
    2995,    2968,    2948,    2921,    2894,    2866,    2845,    2817,    2789,    2760, //40~49 degree C
    2739,    2710,    2681,    2659,    2630,    2601,    2571,    2549,    2520,    2490, //50~59 degree C  
    2460,    2438,    2408,    2378,    2348,    2326,    2296,    2266,    2236,    2214, //60~69 degree C
    2184,    2154,    2132,    2103,    2073,    2044,    2022,    1993,    1964,    1935, //70~79 degree C
    1914,    1885,    1857,    1829,    1808,    1780,    1753,    1725,    1705,    1678, //80~89 degree C
    1651,    1632,    1605,    1579,    1554,    1535,    1509,    1484,    1460,    1441, //90~99 degree C
    1417,    1393,    1370,    1352,    1329,    1306,    1284,    1267,    1245,    1224, //100~109 degree C
    1207,    1186,    1166,    1145,    1130,    1110,    1090,    1071,    1056,    1038, //110~119 degree C
    1019,    1001,    987,     969,     952,     935,     922,     905,     889,     877,  //120~119 degree C
    861                                                                                    //130 degree C
                                                                                           //otherwise, 131 degree C
};


/* Temperature lookup table, define by NTC datasheet */
//const uint16 audioNtcTempTable[] =
//{
//    3848,    3836,    3823,    3810,    3796,    3782,    3767,    3752,    3736,    3720, //0~9 degree C
//    3703,    3685,    3667,    3649,    3629,    3610,    3589,    3568,    3546,    3524, //10~19 degree C
//    3501,    3478,    3453,    3429,    3403,    3377,    3351,    3324,    3296,    3268, //20~29 degree C
//    3239,    3209,    3179,    3149,    3118,    3086,    3054,    3021,    2988,    2955, //30~39 degree C
//    2921,    2887,    2852,    2817,    2782,    2746,    2710,    2674,    2637,    2601, //40~49 degree C
//    2564,    2527,    2490,    2453,    2415,    2378,    2341,    2303,    2266,    2229, //50~59 degree C
//    2191,    2154,    2117,    2081,    2044,    2007,    1971,    1935,    1900,    1864, //60~69 degree C
//    1829,    1794,    1760,    1725,    1692,    1658,    1625,    1592,    1560,    1528, //70~79 degree C
//    1497,    1466,    1435,    1405,    1376,    1346,    1318,    1289,    1262,    1234, //80~89 degree C
//    1207,    1181,    1155,    1130,    1105,    1080,    1056,    1033,    1010,     987, //90~99 degree C
//     965,     943,     922,     901,     881,     861,     841,     822,     804,     785, //100~109 degree C
//     767,     750,     733,     716,     700,     684,     668,     653,     638,     624, //110~119 degree C
//     609,     595,     582,     569,     556,     543,     531,     519,     507,     496, //120~119 degree C
//     485                                                                                   //130 degree C
//                                                                                           //otherwise, 131 degree C
//};


