/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

#include "limits.h" //UINT_MAX
#include "deviceTypes.h"


#ifndef POWERDRV_LIGHT_CONFIG
#define POWERDRV_LIGHT_CONFIG


/***************************************************************************
* MACRO DEFINITION
***************************************************************************/
#define     INITIAL_STEP     0
#define     BATT_PRINT_PREIOD_IN_MS 5000


/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4096


/***************************************************************************
* Temperature
***************************************************************************/
#define BATT_TEMP_MAX   SHRT_MAX
#define BATT_TEMP_MIN   SHRT_MIN

const sRange battTempLevels[TL_NUM] =
{ // upper_bound      lower_bound
    {BATT_TEMP_MAX,   600}, // 0:TL_CRITICAL, shutdown battery & system
    {570,             550}, // 1:TL_SERIOUS, shutdown amplifier
    {480,             445}, // 2:TL_WARN, stop charging
    {420,             030}, // 3:TL_NORMAL, normal use
    {005,            -130}, // 4:TL_SUBNORMAL, stop charging
    {-170,  BATT_TEMP_MIN}, // 5:TL_CRITICAL_COLD, stop charging
};


/***************************************************************************
 * DC input Config
 ***************************************************************************/
#define POWER_STAGE1_DELAY (10)



/***************************************************************************
 * GPIO Operation
 ***************************************************************************/
#define  CHARGER_ON(x)           GpioDrv_SetBit(&(x),GPIO_OUT_CH_ON)
#define  CHARGER_OFF(x)          GpioDrv_ClearBit(&(x),GPIO_OUT_CH_ON)

#define  CHARGER_FAST(x)         GpioDrv_ClearBit(&(x),GPIO_OUT_SLOW_CH) //low: 1.9A
#define  CHARGER_SLOW(x)         GpioDrv_SetBit(&(x),GPIO_OUT_SLOW_CH) //high: 1.2A

#define  Get_CHARGER_STAT(x)     GpioDrv_ReadBit(&x,GPIO_IN_CH_STATE)
#define  IS_DC_IN(x)             GpioDrv_ReadBit(&(x),GPIO_IN_DC_IN)


#endif /* #ifdef POWERDRV_LIGHT_CONFIG */
