/**
*  @file      IoExpander.cofig
*  @brief     Configure data for the IO-Expander AW9110B
*  @author    Wesley Lee
*  @date      17-Dec-2015
*  @copyright Tymphany Ltd.
*/

#ifndef IOEXPANDERDRV_CONFIG
#define IOEXPANDERDRV_CONFIG


/*****************************************************************
 * Feature
 *****************************************************************/
/* Enable: IO-Expander driver control reset pin
 * Disable: Power server control reset pin
 */
//#if !defined(_BOOTLOADER_PIU) && !defined(_BOOTLOADER_UBL)
#define IOEXPANDERDRV_RST_CONTROL
//#endif


 
/*****************************************************************
 * Pin definition
 *****************************************************************/
#include "pattern.h"

#define  EXPANDER_RST_LOW(x)     GpioDrv_ClearBit(&(x),GPIO_OUT_IOEXP_RST)
#define  EXPANDER_RST_HIGH(x)    GpioDrv_SetBit(&(x),GPIO_OUT_IOEXP_RST)

#endif /* IOEXPANDERDRV_CONFIG */
