/**
*  @file      LedSrv.Cofig
*  @brief     Config data for led server
*  @author    Wesley.Lee
*  @date      27-Oct-2014
*  @copyright Tymphany Ltd.
*/

#include "IoExpanderLedDrv.h"

#define LED_TICK_MS     30

#define LED_SRV_HAS_SLEEP
#define LED_SRV_HAS_RESPONSE

/* Private variables */
static cIoExpanderLedDrv    ioExpanderLedDrvList[NUM_OF_IOEXPANDER_LED];
static cIoExpanderDrv       ioExpanderDrv;

