/**
*  @file      IoExpander.cofig
*  @brief     Configure data for the IO-Expander AW9110B
*  @author    Wesley Lee
*  @date      17-Dec-2015
*  @copyright Tymphany Ltd.
*/

#ifndef IOEXPANDERDRV_CONFIG
#define IOEXPANDERDRV_CONFIG

#include "pattern.h"

// default output level
#define IO_EXPANDER_DEFAULT_OUTPUT_PORTA    0xff
#define IO_EXPANDER_DEFAULT_OUTPUT_PORTB    0xff

// default LED Mode
#define IO_EXPANDER_DEFAULT_LED_MODE_PORTA  0x00    /**< 0-LED, 1-GPIO */
#define IO_EXPANDER_DEFAULT_LED_MODE_PORTB  0x00    /**< 0-LED, 1-GPIO */

// default IO Mode
#define IO_EXPANDER_DEFAULT_IO_MODE_PORTA   0x00    /**< 0-output, 1-input */
#define IO_EXPANDER_DEFAULT_IO_MODE_PORTB   0x00    /**< 0-output, 1-input */

typedef struct tIoePattern
{
    uint16 led_mask;
    uint8 fade_time;
    uint8 full_time;
    uint8 delay[AW9110B_NUM_BLINK];
}tIoePattern;

tIoePattern autoBlinkPatt[IOE_AUTO_PATT_MAX] =
{
    {
        .led_mask   = 0x09,
        .fade_time  = AW9110B_FDOFF_TMR_2520MS | AW9110B_FDON_TMR_1260MS,
        .full_time  = AW9110B_FLON_TMR_0MS | AW9110B_FLOFF_TMR_0MS,
        .delay[0]   = AW9110B_DLY_TMR_0MS,
        .delay[1]   = AW9110B_DLY_TMR_0MS,
        .delay[2]   = AW9110B_DLY_TMR_0MS,
        .delay[3]   = AW9110B_DLY_TMR_0MS,
        .delay[4]   = AW9110B_DLY_TMR_0MS,
        .delay[5]   = AW9110B_DLY_TMR_0MS,
    },
};

#endif /* IOEXPANDERDRV_CONFIG */
