/*
-------------------------------------------------------------------------------
TYMPHANY LTD





                  Debug Server Config
                  -------------------------

                  SW Module Document




@file        DebugSrv.config
@brief       Debug server config file
@author      Dmitry.Abdulov 
@date        2014-02-27
@copyright (c) Tymphany Ltd. All rights reserved.

Change History:
VERSION    : 1    DRAFT      2014-02-27     Dmitry.Abdulov 
DESCRIPTION: config file contain list of commands for Debug CLI
SCO/ERROR  : 
-------------------------------------------------------------------------------
*/

/* command line interface */
#include "cli.h"
#include "cli_pt_cmd.h"
#include "cli_version_cmd.h"
#ifdef HAS_ALLPLAY_BT
#include "cli_bluetooth_cmd.h"
#endif
#ifdef HAS_AUDIO_ADC
#include "cli_audio_adc_cmd.h"
#endif

#ifndef NDEBUG
const CLI_Command_Definition_t * pCLI_Commands[] =
{
#ifdef HAS_KEYS
    //&cli_gpio_cmd,
#endif
#ifdef HAS_LEDS    
    //&cli_led_cmd,
#endif
#ifdef HAS_ALLPLAY    
    &cli_allplay_cmd,
    &cli_allplayWifi_cmd,
#endif    
#ifdef HAS_ALLPLAY_BT
    &cli_bluetooth_cmd,
#endif
#ifdef HAS_AUDIO_ADC
    &cli_audio_adc_cmd,
#endif
#ifdef HAS_ADC
    &cli_adc_cmd,
#endif
#ifdef HAS_AUXIN    
   // &cli_auxin_cmd,
#endif    
    &cli_version_cmd,
    &cli_pt_cmd,
#ifdef HAS_DSP    
    &cli_dsp_cmd
#endif    
};
#else
CLI_Command_Definition_t * pCLI_Commands[] = {&cli_pt_cmd};
#endif

const uint8 NUM_OF_CLI_CMDS = sizeof(pCLI_Commands) / sizeof(pCLI_Commands[0]);
