/**
*  @file      IoExpander.cofig
*  @brief     Configure data for the IO-Expander AW9110B
*  @author    Wesley Lee
*  @date      17-Dec-2015
*  @copyright Tymphany Ltd.
*/

#ifndef IOEXPANDERDRV_CONFIG
#define IOEXPANDERDRV_CONFIG


/*****************************************************************
 * Feature
 *****************************************************************/
/* Enable: IO-Expander driver control reset pin
 * Disable: Power server control reset pin
 */
//#if !defined(_BOOTLOADER_PIU) && !defined(_BOOTLOADER_UBL)
#define IOEXPANDERDRV_RST_CONTROL
//#endif


 
/*****************************************************************
 * Pin definition
 *****************************************************************/
#include "pattern.h"

// io direction control
#define IO_EXPANDER_DIRECTIOIN_PORTA    0x20
#define IO_EXPANDER_DIRECTIOIN_PORTB    0x00

// default output level
#define IO_EXPANDER_DEFAULT_OUTPUT_PORTA    0xff
#define IO_EXPANDER_DEFAULT_OUTPUT_PORTB    0xff

// default LED Mode
#define IO_EXPANDER_DEFAULT_LED_MODE_PORTA  0x04    /**< 0-LED, 1-GPIO */
#define IO_EXPANDER_DEFAULT_LED_MODE_PORTB  0x00    /**< 0-LED, 1-GPIO */

// default IO Mode
#define IO_EXPANDER_DEFAULT_IO_MODE_PORTA   0x00    /**< 0-output, 1-input */
#define IO_EXPANDER_DEFAULT_IO_MODE_PORTB   0x00    /**< 0-output, 1-input */

#define IO_EXPANDER_CONTROL_VALUE (AW9110B_CTL_GPOMD_PUSH_PULL | AW9110B_CTL_ISEL_QUARTER)

typedef struct tIoePattern
{
    uint16 led_mask;
    uint8 fade_time;
    uint8 full_time;
    uint8 delay[AW9110B_NUM_BLINK];
}tIoePattern;

tIoePattern autoBlinkPatt[IOE_AUTO_PATT_MAX] =
{
    /* IOE_AUTO_PATT_STBL */
    {
        .led_mask   = LED_MASK_LED0_RED | LED_MASK_LED3_RED,
        .fade_time  = AW9110B_FDOFF_TMR_2520MS | AW9110B_FDON_TMR_1260MS,
        .full_time  = AW9110B_FLON_TMR_0MS | AW9110B_FLOFF_TMR_0MS,
        .delay[0]   = AW9110B_DLY_TMR_0MS,
        .delay[1]   = AW9110B_DLY_TMR_0MS,
        .delay[2]   = AW9110B_DLY_TMR_0MS,
        .delay[3]   = AW9110B_DLY_TMR_0MS,
        .delay[4]   = AW9110B_DLY_TMR_0MS,
        .delay[5]   = AW9110B_DLY_TMR_0MS,
    },

    /* IOE_AUTO_PATT_ERROR_RED */
    {
        .led_mask   = LED_MASK_ALL_LEDS,
        .fade_time  = AW9110B_FDOFF_TMR_0MS | AW9110B_FDON_TMR_0MS,
        .full_time  = AW9110B_FLON_TMR_315MS | AW9110B_FLOFF_TMR_315MS,
        .delay[0]   = AW9110B_DLY_TMR_0MS,
        .delay[1]   = AW9110B_DLY_TMR_0MS,
        .delay[2]   = AW9110B_DLY_TMR_0MS,
        .delay[3]   = AW9110B_DLY_TMR_0MS,
        .delay[4]   = AW9110B_DLY_TMR_0MS,
        .delay[5]   = AW9110B_DLY_TMR_0MS,
    },
};

#define  EXPANDER_RST_N          GPIO_OUT_IOEXP_RST //RESET ,PA8
#define  EXPANDER_RST_LOW(x)     GpioDrv_ClearBit(&(x),GPIO_OUT_IOEXP_RST)
#define  EXPANDER_RST_HIGH(x)    GpioDrv_SetBit(&(x),GPIO_OUT_IOEXP_RST)

#endif /* IOEXPANDERDRV_CONFIG */
