/**
*  @file      KeySrv.Cofig
*  @brief     Config data for key server
*  @author    Bob.Xu
*  @date      27-Feb-2014
*  @copyright Tymphany Ltd.
*/
#include "AdcDrv.h"
#include "GpioDrv.h"
#include "RotaterKeyDrv.h"
#include "GpioKeyDrv.h"

#define DEBOUNCE_SAMP_NUM               4
/* Volume/Bass/Treble Rotaters need a support fast pooling, thus change KeySrv
 * polling speed from 10ms to 1ms
 */
#define KEY_SERVER_TICK_MS              1
#define COMB_KEY_FLAG_RESET             0

/* Private variables */
static cGpioKeyDrv gpioKeySet[NUM_OF_GPIO_KEY];
static cGpioDrv gpioDrvForKey;
static cRotaterKeyDrv   rotaterVolKeySet[NUM_OF_ROTATER_PAIR];
static cRotaterKeyDrv   rotaterBasKeySet[NUM_OF_ROTATER_PAIR];
static cRotaterKeyDrv   rotaterTreKeySet[NUM_OF_ROTATER_PAIR];


tKeySrvConfig keySrvConfig =
{
    .timing.debounceTime = 60, /* 60ms */
    .timing.longPressTime = 1800,  /* 1.8 S, the definition in UI spec is 2 second. Reduce to 1.8s to improve BT pairing trigger time */
    .timing.veryLongPressTime = 7000, /* 7S */

    .keyboardNum = KEYBOARD_NUMBER,
    .keyboardSet =
    {
        {GPIO_DEV_TYPE,  (cKeyDrv*)gpioKeySet,          sizeof(cGpioKeyDrv),    &gpioDrvForKey},
        {ROTATER_DEV_TYPE,  (cKeyDrv*)rotaterVolKeySet,    sizeof(cRotaterKeyDrv),       NULL},
        {ROTATER_DEV_TYPE,  (cKeyDrv*)rotaterBasKeySet,    sizeof(cRotaterKeyDrv),       NULL},
        {ROTATER_DEV_TYPE,  (cKeyDrv*)rotaterTreKeySet,    sizeof(cRotaterKeyDrv),       NULL},
        /**
         * you can add other types of keyboard here
         */
    }
};

#ifdef HAS_COMB_KEY
#define NUM_OF_COMB_KEYS    1

static tCombKeyElem  combKeyGroup0[] =
{
    {.keyId = INPUT_KEY,    .combKeyTrigEvt = KEY_EVT_VERY_LONG_HOLD},
    {.keyId = PLAY_PAUSE_KEY, .combKeyTrigEvt = KEY_EVT_VERY_LONG_HOLD},
};

static tCombDef combKeysDef[NUM_OF_COMB_KEYS] =
{
    {
        .combKeyId = COMB_KEY_ID_0,
        .combKeyType = NORMAL_KEY_COMB_TYPE,
        .numOfKeyElem = 2,
        .timeElapse = 0,
        .resetTime = 2000, /* 2 seconds */
        .pCombKeyElems = combKeyGroup0,
    },
};
#endif

/* End of Comb key definations */
