/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

#include "limits.h" //UINT_MAX
#include "deviceTypes.h"


#ifndef POWERDRV_LIGHT_CONFIG
#define POWERDRV_LIGHT_CONFIG


/***************************************************************************
* MACRO DEFINITION
***************************************************************************/
#define     INITIAL_STEP             0

/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4095
#define ADC_TO_mVOLT(adc)  ((uint16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION))

/***************************************************************************
* ADC  for HW version
***************************************************************************/
#define HW_THRESHOLD_OFFSET        10
//Joplin S/M ES :  pull-up:1K, pull-down:47k, MaxVoltage=3.328  NormalVoltage=3.231V,  MinVoltage=3.134 use mV as threshold
#define HW_SM_ES_MAX_THRESHOLD      3328
#define HW_SM_ES_MIN_THRESHOLD      3134
//Joplin L ES:   pull-up:4.3K, pull-down:47k, MaxVoltage=3.3114V  NormalVoltage=3.023V,  MinVoltage=2.932V
#define HW_L_ES_MIN_THRESHOLD       2932
//Joplin S EVT:   pull-up:11K, pull-down:47k, MaxVoltage=2.754V  NormalVoltage=2.674V,  MinVoltage=2.593V
#define HW_S_EVT_MIN_THRESHOLD      2593
//Joplin M EVT:   pull-up:15K, pull-down:47k, MaxVoltage=2.576V NormalVoltage=2.501V,  MinVoltage=2.426V
#define HW_M_EVT_MIN_THRESHOLD      2426
//Joplin L EVT:   pull-up:20K, pull-down:47k, MaxVoltage=2.384V  NormalVoltage=2.315V,  MinVoltage=2.245V
#define HW_L_EVT_MIN_THRESHOLD      2245
//Joplin S DVT:   pull-up:27K, pull-down:47k, MaxVoltage=2.159V  NormalVoltage=2.096V,  MinVoltage=2.033V
#define HW_S_DVT_MIN_THRESHOLD      2033
//Joplin M DVT:   pull-up:33K, pull-down:47k, MaxVoltage=1.996V  NormalVoltage=1.938V,  MinVoltage=1.880V
#define HW_M_DVT_MIN_THRESHOLD      1880
//Joplin L DVT:   pull-up:39K, pull-down:47k, MaxVoltage=1.857V  NormalVoltage=1.803V,  MinVoltage=1.749V
#define HW_L_DVT_MIN_THRESHOLD      1749
//Joplin S PVT:  pull-up:47K, pull-down:47k, MaxVoltage=1.699V  NormalVoltage=1.650V,  MinVoltage=1.600V
#define HW_S_PVT_MIN_THRESHOLD      1600
//Joplin M PVT:  pull-up:56K, pull-down:47k, MaxVoltage=1.551V  NormalVoltage=1.505V,  MinVoltage=1.460V
#define HW_M_PVT_MIN_THRESHOLD      1460
//Joplin L PVT:  pull-up:68K, pull-down:47k, MaxVoltage=1.389V  NormalVoltage=1.348V,  MinVoltage=1.308V
#define HW_L_PVT_MIN_THRESHOLD      1308
//Joplin S MP:  pull-up:82K, pull-down:47k, MaxVoltage=1.238V  NormalVoltage=1.202V,  MinVoltage=1.166V
#define HW_S_MP_MIN_THRESHOLD       1166
//Joplin M MP:  pull-up:91K, pull-down:47k, MaxVoltage=1.157V  NormalVoltage=1.124V,  MinVoltage=1.090V
#define HW_M_MP_MIN_THRESHOLD       1090
//Joplin L MP:  pull-up:100K, pull-down:47k, MaxVoltage=1.086V  NormalVoltage=1.055V,  MinVoltage=1.023V
#define HW_L_MP_MIN_THRESHOLD       1023

/***************************************************************************
 * DC input Config
 ***************************************************************************/

#define POWER_STAGE1_DELAY (100)
#define POWER_STAGE2_DELAY (100)
#define POWER_STAGE3_DELAY (20)
#define POWER_STAGE4_DELAY (100)

#define POWER_ADC_UPDATE_PERIOD (100)

#define PWR_SW_DEBOUNCE_TIME_MS     (800) /* the definition in UI spec is 1 second. Reduce to 0.8s to improve boot-up time */
#define PWR_SW_OFF_DEBOUNCE_TIME_MS     (100)

/***************************************************************************
 * GPIO Operation
 ***************************************************************************/

#ifdef HAS_POWER_SWITCH_KEY
#define     PWR_SW_KEY                  GPIO_IN_POWER_KEY
#define     IS_PWR_SW_KEY_ON(x)         GpioDrv_ReadBit(&(x), PWR_SW_KEY)
#define     PWR_SW_ON_LEVEL             0
#endif

#endif /* #ifdef POWERDRV_LIGHT_CONFIG */
