#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               2048        // # of 32-bit Instructions per Page
#define SETTING_SAVE_MS         5000
#define IDLE_TIMEOUT_MS         3000
#define TIMER_PERIOD_MS         1000

typedef struct tSettingEntry
{
    uint32_t    channel;
    uint32_t    vol_level;
    uint32_t    treble_level;
    uint32_t    bass_level;
    uint32_t    btStatus;
    bool        isPwrSwitchOn;
    bool        isMusicPlaying;
    bool        systemSleep;
    bool        isAmpFault;
    uint8       hwVer[HW_VERSION_LENGTH];
    uint8       modelId;
    uint8       hwStage;
    uint8       swVer[SW_VERSION_LENGTH];
    uint8       dspVer[DSP_VERSION_LENGTH];
    uint8       btVer[BT_VERSION_LENGTH];
    uint32_t    rebootCode;
    uint8       btMACAddr[BT_MAC_ADDR_LENGTH];
    uint32_t    eq_band1_level;
    uint32_t    eq_band2_level;
    uint32_t    eq_band3_level;
    uint32_t    eq_band4_level;
    uint32_t    eq_band5_level;
    uint32_t    steady_brightness;
    uint32_t    dim_brightness;
    uint32_t    work_mode;
} tSettingEntry;

static tSettingEntry setting;

static tSettingDatabase settingDB[SETID_MAX] =
{
    { &setting.channel,          sizeof(setting.channel),           SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.vol_level,        sizeof(setting.vol_level),         SETTING_ATTR_VALID},
    { &setting.treble_level,     sizeof(setting.treble_level),      SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.bass_level,       sizeof(setting.bass_level),        SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.btStatus,         sizeof(setting.btStatus),          SETTING_ATTR_VALID},
    { &setting.isPwrSwitchOn,    sizeof(setting.isPwrSwitchOn),     SETTING_ATTR_VALID},
    { &setting.isMusicPlaying,   sizeof(setting.isMusicPlaying),    SETTING_ATTR_VALID},
    { &setting.systemSleep,      sizeof(setting.systemSleep),       SETTING_ATTR_VALID},
    { &setting.isAmpFault,       sizeof(setting.isAmpFault),        SETTING_ATTR_VALID},
    { &setting.hwVer,            sizeof(setting.hwVer),             SETTING_ATTR_VALID},
    { &setting.modelId,          sizeof(setting.modelId),           SETTING_ATTR_VALID},
    { &setting.hwStage,          sizeof(setting.hwStage),           SETTING_ATTR_VALID},
    { &setting.swVer,            sizeof(setting.swVer),             SETTING_ATTR_VALID},
    { &setting.dspVer,           sizeof(setting.dspVer),            SETTING_ATTR_VALID},
    { &setting.btVer,            sizeof(setting.btVer),             SETTING_ATTR_VALID},
    { &setting.rebootCode,       sizeof(setting.rebootCode),        SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.btMACAddr,        sizeof(setting.btMACAddr),         SETTING_ATTR_VALID},
    { &setting.eq_band1_level,   sizeof(setting.eq_band1_level),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.eq_band2_level,   sizeof(setting.eq_band2_level),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.eq_band3_level,   sizeof(setting.eq_band3_level),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.eq_band4_level,   sizeof(setting.eq_band4_level),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.eq_band5_level,   sizeof(setting.eq_band5_level),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.steady_brightness, sizeof(setting.steady_brightness), SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.dim_brightness,   sizeof(setting.dim_brightness),    SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.work_mode,        sizeof(setting.work_mode),         SETTING_ATTR_VALID | SETTING_ATTR_NVM},
};

#define SETT_PAGE_ROM_ADDR      0x0803E800

static const tSettingRomMap settingRomMap[] =
{
    { SETID_AUDIO_SOURCE,       SETT_PAGE_ROM_ADDR  },
    { SETID_TREBLE,             (SETT_PAGE_ROM_ADDR+4)  },
    { SETID_BASS,               (SETT_PAGE_ROM_ADDR+8)  },
    { SETID_REBOOT_CODE,        (SETT_PAGE_ROM_ADDR+12) },
    { SETID_EQ_BAND1,           (SETT_PAGE_ROM_ADDR+16) },
    { SETID_EQ_BAND2,           (SETT_PAGE_ROM_ADDR+20) },
    { SETID_EQ_BAND3,           (SETT_PAGE_ROM_ADDR+24) },
    { SETID_EQ_BAND4,           (SETT_PAGE_ROM_ADDR+28) },
    { SETID_EQ_BAND5,           (SETT_PAGE_ROM_ADDR+32) },
    { SETID_STEADY_BRIGHTNESS,  (SETT_PAGE_ROM_ADDR+36) },
    { SETID_DIM_BRIGHTNESS,     (SETT_PAGE_ROM_ADDR+40) },
    { SETID_WORK_MODE,          (SETT_PAGE_ROM_ADDR+44) },
};

