/**
*  @file      Bluetooth.config
*  @brief     Config data for ROM base BT module command
*  @author    Johnny Fan
*  @date      15-May-2014
*  @copyright Tymphany Ltd.
*/


#define BT_FASTER_CMD_STATE


/*****************************************************************
*
*  time for each press, should config it according to the pskey config of BT module
*
****************************************************************/
/* new config for CSRA64215 */
#define SHORT_PRESS_TIME_MS  120
#define LONG_PRESS_TIME_MS  520
#define VERY_LONG_PRESS_TIME_MS  1020
#define VERYVERY_LONG_PRESS_TIME_MS  1220

#define DOUBLE_PRESS_TIME_MS 30
#define DOUBLE_PRESS_INTERAL_TIME_MS  30

/* change the START_TIME from 20ms to 10ms, to allow tolerance */
/* change the scale to 100ms for tolerance*/
#define BT_STATE_START_TIME_MS 10
#define BT_STATE_STEP_TIME_MS  100

#define AUDIO_CUE_OFFSET            (100)
#define BT_AUDIO_CUE_NULL                     (0)
#define AUDIO_CUE_POST_OFFSET       (200)
#define BT_AUDIO_CUE_PAIRING_TIME          (2500+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_CONNECTED_TIME    (1700+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_BAT_LOW_TIME       (600+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_BAT_CRITICAL_TIME      (600+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)



/*****************************************************************
*
*  config the press type and output channel for each command
*
****************************************************************/
const tBtCmdstruct BT_CMD_CONFIG[BT_COMMON_MAX_CMD]=
{
    {BT_OUTPUT1,     BT_SINGLE_PRESS     },       // BT_ENTER_PAIRING_CMD,  
    {BT_OUTPUT1,     BT_LONG_PRESS   },        //BT_ENTER_CONNECTABLE_CMD
    {BT_OUTPUT1,     BT_VLONG_PRESS  },  // BT_RESET_PAIR_LIST_CMD, Place holder

    {BT_OUTPUT2,    BT_SINGLE_PRESS},       // BT_ANSWER_CMD,
    {BT_OUTPUT2,    BT_LONG_PRESS},         //BT_REJECT_CMD,
    {BT_OUTPUT2,    BT_VLONG_PRESS},        // BT_CANCEL_END_CMD

    {BT_OUTPUT3,    BT_SINGLE_PRESS},       // GAIA User 1, Battery Low
    {BT_OUTPUT3,    BT_LONG_PRESS},       // BT_AVRCP_PAUSE_CMD,
    {BT_OUTPUT3,    BT_VLONG_PRESS},        // BT_AVRCP_PLAY_CMD,

    {BT_OUTPUT4,    BT_SINGLE_PRESS},       // GAIA User 2, Battery Critical
    {BT_OUTPUT4,    BT_LONG_PRESS},       // GAIA User 3, Connected
    {BT_OUTPUT4,    BT_VLONG_PRESS},       // BT_TEST_MODE_CMD, Test Mode Audio
};


