/**
*  @file      Bluetooth.config
*  @brief     Config data for ROM base BT module command
*  @author    Johnny Fan
*  @date      15-May-2014
*  @copyright Tymphany Ltd.
*/


//#define BT_FASTER_CMD_STATE


/*****************************************************************
*
*  time for each press, should config it according to the pskey config of BT module
*
****************************************************************/
/* new config for CSRA64215 */
#define SHORT_PRESS_TIME_MS  50
#define LONG_PRESS_TIME_MS  600
#define VERY_LONG_PRESS_TIME_MS  1100
#define VERYVERY_LONG_PRESS_TIME_MS  2020

#define DOUBLE_PRESS_TIME_MS 30
#define DOUBLE_PRESS_INTERAL_TIME_MS  30

/* change the START_TIME from 20ms to 10ms, to allow tolerance */
/* change the scale to 100ms for tolerance*/
#define BT_STATE_START_TIME_MS 10
#define BT_STATE_STEP_TIME_MS  205

#define AUDIO_CUE_OFFSET            (100)
#define BT_AUDIO_CUE_NULL                     (0)
#define AUDIO_CUE_POST_OFFSET       (200)
#define BT_AUDIO_CUE_PAIRING_TIME          (2500+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_CONNECTED_TIME    (1700+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_BAT_LOW_TIME       (600+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)
#define BT_AUDIO_CUE_BAT_CRITICAL_TIME      (600+AUDIO_CUE_OFFSET+AUDIO_CUE_POST_OFFSET)

#define BT_POWER_PIN_ID   BT_PWR_EN

