/**
*  @file      BluetoothSrv.Config
*  @brief     Config data for Bluetooth
*  @author    Johnny Fan
*  @date      4-Sep-2014
*  @copyright Tymphany Ltd.
*/

/* the time (ms) per timeout signal */
#define BT_SRV_PER_TICK_TIME_MS  50

/* Delay to play power up tone */
#define BT_POWER_UP_TONE_DELAY_MS  4000

/* Auto linking period */
#define BT_POWER_ON_AUTO_LINKING_TIMEOUT_MS 180000
/* define the internal time that reqest BT module to connect PDL device */
#define BT_POWER_ON_AUTO_LINKING_INTERNAL_MS 10000

/* delay waiting for DSP channel set up */
#define BT_START_UP_DELAY_MS  100
/* define the mimimum gap time between two continious cmd to BT*/
#define BT_CMD_MIN_GAP_MS  250

#define BT_CMD_ACK_TIMEOUT_MS  200
#define BT_CMD_MAX_RESEND_NUM  2


/* delay starting audio cue time */
#define AUDIO_CUE_START_DELAY_TIME  (100)

#define AUDIO_CUE_START_DELAY_TIME_FOR_PAIRING  (500)

