/**
*  @file      IoExpander.cofig
*  @brief     Configure data for the IO-Expander LED driver
*  @author    Wesley Lee
*  @date      17-Dec-2015
*  @copyright Tymphany Ltd.
*/

#ifndef IOEXPANDERLEDDRV_CONFIG
#define IOEXPANDERLEDDRV_CONFIG


//Adjust LED brightness. 100 as max, 0 as min.
#define IO_EXPANDER_LED_BRIGHTNESS_RATE  50


#endif /* IOEXPANDERLEDDRV_CONFIG */
