/**
*  @file      MainApp.Config
*  @brief     Config data for MainApp
*  @author    Daniel Qin
*  @date      25-12-2015
*  @copyright Tymphany Ltd.
*/
#include "pattern.h"

/* Note: the member order of the array should be changed according to eLedIndID in pattern.h */
tLedInd ledIndList[] =
{
    /* Product status */
    {LED_MASK_ALL_LEDS,     OFF_PATT},       /* LED_IND_ID_POWERING_UP */
    {LED_MASK_ALL_LEDS,    OFF_PATT},       /* LED_IND_ID_POWERING_DOWN */
    {LED_MASK_PROD_LEDS,    SOLID_PAT_RED},       /* LED_IND_ID_POWERED_ON */
    {LED_MASK_PROD_LEDS,    DIM_PATT_RED},        /* LED_IND_ID_PRODUCT_IDLE */

    {LED_MASK_BT,    SOLID_PAT_RED},        /* LED_IND_ID_BT_MODE */
    {LED_MASK_AUX,    SOLID_PAT_RED},       /* LED_IND_ID_AUXIN_MODE */
    {LED_MASK_RCA,    SOLID_PAT_RED},       /* LED_IND_ID_RCA_MODE */
    {LED_MASK_PROD_LEDS,    FLASH_PAT_RED},         /* LED_IND_ID_DSP_TUNING_MODE */
    {LED_MASK_ALL_LEDS,     FLASH_PAT_RED}, /* LED_IND_ID_FAST_BOOT_MODE, for production test  */

    /* Network Connectivity */
    {LED_MASK_BT,    FLASH_PAT_RED},        /* LED_IND_ID_BLE_PAIRING_ENABLED  */
    {LED_MASK_BT,    SOLID_PAT_RED},      /* LED_IND_ID_BLUETOOTH_IDLE  */

    /* BT Connectivity */
    {LED_MASK_BT,    FLASH_PAT_RED},        /* LED_IND_ID_BLE_PAIRING_ENABLED  */
    {LED_MASK_BT,    SOLID_PAT_RED},      /* LED_IND_ID_BT_PAIRING_SUCCESSFULL  */
    {LED_MASK_BT,	QUICK_FLASH_PAT_RED},		 /* LED_IND_ID_BT_RECONNECTING	*/

    /* Volume level */
    {LED_MASK_VOL_LEDS,    OFF_PATT},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_1,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_2,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_3,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_4,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_5,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_6,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_7,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_8,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LV_9,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */
    {LED_MASK_VOL_LEDS,    SOLID_PAT_RED},        /* LED_IND_ID_BATT_LV_1  */


    /* Other status */
    {LED_MASK_ALL_SOURCE_LEDS,     OFF_PATT},         /* LED_IND_ID_SW_UPDATING*/
    {LED_MASK_ALL_SOURCE_LEDS,     SOLID_PAT_RED},         /* LED_IND_ID_SW_UPDATING*/
    {LED_MASK_ALL_SOURCE_LEDS,    QUICK_FLASH_PAT_RED},   /* LED_IND_ID_PROD_FW_ERROR */
    {LED_MASK_ALL_LEDS,     QUICK_FLASH_PAT_RED},       /* LED_IND_ID_FACTORY_RESET_TRIGGERED */
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_ONCE_PAT_RED},   /* LED_IND_ID_SHORT_PRESS */
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_ONCE_PAT_RED},       /* LED_IND_ID_CONTINUOUS_PRESS  only for volume key*/
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_ONCE_PAT_RED},  /* LED_IND_ID_LP_AND_VLP  for long press and very long press */

    {LED_MASK_PROD_LEDS,    DIM_PATT_RED},       /* LED_IND_ID_PROD_TRANS_OFF */
    {LED_MASK_PROD_LEDS,    OFF_PATT},              /* LED_IND_ID_CONN_OFF */
    {LED_MASK_PROD_LEDS,    OFF_PATT},              /* LED_IND_ID_PROD_OFF */
    {LED_MASK_ALL_LEDS,     DIM_PATT_RED},       /* LED_IND_ID_ALL_TRANS_OFF */

    /* add the led indication above this line */
    {LED_MASK_ALL_LEDS,     OFF_PATT},          /* LED_IND_ID_ALL_OFF */
};

/* Note: the member order of the array should be changed accordign to eAudioSource in mainApp.h*/
static tSourceHandlerList sourceHandlerList[AUDIO_SOURCE_MAX] =
{

    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_BT,         LED_IND_ID_BT_MODE,     TRUE},    //AUDIO_SOURCE_BLUETOOTH
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_AUXIN,      LED_IND_ID_AUXIN_MODE,  TRUE},   //AUDIO_SOURCE_AUXIN
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_RCA,        LED_IND_ID_RCA_MODE,    FALSE},   //AUDIO_SOURCE_RCA
};





