

typedef enum
{
    BATTERY_MODE        = 0x01,
    NO_AUDIO_PLAYBACK   = 0x02,
    NO_BT_STREAMING     = 0x04,
    IDLE_TIMER_TRIGGER   = BATTERY_MODE | NO_AUDIO_PLAYBACK | NO_BT_STREAMING,
} eIdleTimerTriggerSource;


#define IDLE_TIMEOUT_IN_MS     (10*60*1000)

#define IDLE_EVT_QUE_SIZE      5

