/**
*  @file      KeySrv.Cofig
*  @brief     Config data for key server
*  @author    Bob.Xu
*  @date      27-Feb-2014
*  @copyright Tymphany Ltd.
*/
#include "AdcDrv.h"
#include "GpioDrv.h"
#include "LinearKnobKeyDrv.h"
#include "GpioKeyDrv.h"

#ifdef HAS_INFRARED_CTR
#include "IrRxDrv.h"
#endif

#define DEBOUNCE_SAMP_NUM               4
#define KEY_SERVER_TICK_MS              10
#define COMB_KEY_FLAG_RESET             0

/* Private variables */
static cLinearKnobKeyDrv knobKeySet[NUM_OF_LINEAR_KNOB_KEY];
static cADCDrv adcDrvForKey;
static cGpioKeyDrv gpioKeySet[NUM_OF_GPIO_KEY];
static cGpioDrv gpioDrvForKey;
tKeySrvConfig keySrvConfig =
{
    .timing.debounceTime = 60,
    .timing.longPressTime = 800,
    .timing.veryLongPressTime = 7000,

    .keyboardNum = KEYBOARD_NUMBER,
    .keyboardSet =
    {
        {GPIO_DEV_TYPE,  (cKeyDrv*)gpioKeySet,   sizeof(cGpioKeyDrv),    &gpioDrvForKey},
        {LINEAR_KNOB_DEV_TYPE,  (cKeyDrv*)knobKeySet,   sizeof(cLinearKnobKeyDrv),    &adcDrvForKey},
        /**
         * you can add other types of keyboard here
         */
    }
};

#ifdef HAS_COMPLEX_PRESS_KEY
#if 0
static tCombKeyElem  combKeyGroup1[]=
{
    /* double press */
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
};

static tCombKeyElem  combKeyGroup2[]=
{
    /* triple press */
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
};

static tCombKeyElem  combKeyGroup3[]=
{
    /* one press then hold */
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_HOLD},
};

static tCombKeyElem  combKeyGroup4[]=
{
    /* two press then hold */
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_SHORT_PRESS},
    {.keyId = BT_KEY,       .combKeyTrigEvt = KEY_EVT_HOLD},
};
#endif
#endif
#ifdef HAS_COMB_KEY
#define NUM_OF_COMB_KEYS    1

static tCombKeyElem  combKeyGroup0[] =
{
    {.keyId = BT_KEY,    .combKeyTrigEvt = KEY_EVT_VERY_LONG_HOLD},
    {.keyId = PLAY_PAUSE_KEY, .combKeyTrigEvt = KEY_EVT_VERY_LONG_HOLD},
};

static tCombDef combKeysDef[NUM_OF_COMB_KEYS] =
{
    {
        .combKeyId = COMB_KEY_ID_0,
        .combKeyType = NORMAL_KEY_COMB_TYPE,
        .numOfKeyElem = 2,
        .timeElapse = 0,
        .resetTime = 5000, /* 5 seconds */
        .pCombKeyElems = combKeyGroup0,
    },
};
#endif

/* End of Comb key definations */
