/**
*  @file      LedSrv.Config
*  @brief     Config data for LED patterns, modified according to UI
*  @author    Wesley Lee
*  @date      15-Jul-2014
*  @copyright Tymphany Ltd.
*/

#include "IoExpanderLedDrv.h"

//#define LED_TICK_MS     (5)
#define LED_TICK_MS     (17) //Nick modified to prevent LED using too much resource when charging

/* Private variables */
static cIoExpanderLedDrv    ioExpanderLedDrvList[LED_MAX];
static cIoExpanderDrv       ioExpanderDrv[IO_EXPANDER_NUM];


