**.DS_store
**.o
**.d
**.pyc
sw/project_files/**/mplab/build/
sw/project_files/**/mplab/dist/
sw/tp_env.sh
sw/**/**.a
sw/**/**unittest.exe
sw/**/**.elf
**/.idea

*~
*.bak
*.mft
*.log
*.log.
*.tmp
*.pre

*.iab
*.iad
*.imb
*.imd
*.pfi
*.po
*.pr
*.pri
*.ps
*.SearchResults
cscope.out
cscope.files


c.out
*.pbi
*.pbd
*.pbd.browse
*.cout
*.pbi.out
*.pbi.cout
*.map
*/base_main_Rate44/*


*.xuv