#ifndef PRODUCT_CONFIG
#define PRODUCT_CONFIG


#include "model_config.h"

/******************************** Shop Mode *****************************/
//POS
#define SHOP_MODE_VALUE      0x5A1E5A1E
//Listening Sample
#define LS_SAMPLE_VALUE      0x5A1E155A

/******************************** Shop Mode *****************************/


/******************************** version message **************************/

/******************************** version message **************************/

#define RELEASE_VERSION
#ifdef RELEASE_VERSION
#define NDEBUG
#endif
#define MCU_FW_SELF_CHECKING
#define SHORT_PRESS_PAIRING

//#define UNIT_TEST_ENABLE

/******************************** volume **************************/
/* volume, treble, bass setting */
#define MAX_VOLUME_STEPS    65
#define DEFAULT_VOLUME      16
#define DEFAULT_AUDIO_CUE_VOLUME        (17)
#define SHOP_MODE_VOLUME    25
#define MAX_BASS_STEPS      11

#define MAX_TREBLE_STEPS    11

#define MAX_SYSTEM_GAIN    7
/// The max volume when system power is low
#define LOW_POWER_MAX_VOLUME 6
/******************************** volume **************************/

/******************************** Bluetooth **************************/
#define MAX_BT_REBOOT_COUNT    1
//ring buffer has one empty slot
#define BT_CUE_QUEUE_SIZE      3
#define BLUETOOTH_V2
#define HAS_BLUETOOTH
#define HAS_BT_RESET_PIN
//#define HAS_BT_AUDIO_CUE
#define HAS_FIX_VOL_AUDIO_CUE
#define HAS_BT_SKIP_CMD
#define BT_ON_OFF_USE_PIO_CMD
#define HAS_BT_CUE_CMD
#define HAS_BT_SEQ_CONTROL
#define HAS_BT_PWR_ON_CONFIRM
#define IGNORE_BT_BOOTING_ERROR
#define HAS_BT_PAIRING_FILTER
//#define HAS_BT_BATT_CMD
/******************************** Bluetooth **************************/

/******************************** audio **************************/
//#define HAS_MCO
#define HAS_AUTO_STANDBY
#define AUTO_STANDBY_TIMEOUT_CNT    (20*60*100)  // 20minute * 60second / 0.01 second(100ms)
#define HAS_AUDIO_CONTROL
#define HAS_ADAU1761_DSP
#define TP_AUDIO_V2
#define DSP_TUNING_ON_THE_FLY
#define DSP_TREBLE_BASS_TUNING
#define FENDER_ORANGE_DSP_FLOW
#define HAS_AUDIO_IO_EXPANDER
//#define HAS_SYSTEM_GAIN_CONTROL

#define HAS_TAS5760_AMP
#define HAS_TPA3116_AMP
#define HAS_AUDIO_IO_EXPANDER
#define HAS_BOOST_ENABLE

/******************************** audio **************************/

/******************************** key **************************/
#define HAS_KEYS
#define HAS_LINEAR_ADC_KNOB_KEY
//#define KNOB_KEY_INVERT_VALUE
#define HAS_GPIO_KEY
#define KEY_SRV_HAS_DEBUG
#define HAS_COMB_KEY
#define HAS_POWER_SWITCH_KEY
#define POWER_OFF_TO_ON_DEBOUNCE
#define HAS_COMPLEX_PRESS_KEY
#define M_KEYMULTIPRESSx
/******************************** key **************************/

/******************************** system control **************************/
#define HAS_POWER_CONTROL
#define HAS_HW_VERSION_TAG
#define SYSTEM_RESTART_AFTER_FACTORY_RESET
#define PERIODIC_SRV_HAS_DEACTIVE // added by colin for test
/******************************** system control **************************/

/******************************** IO Expander **************************/
#define IOEXPANDERDRV_RST_CONTROL
#define AW9523B_USE_GPIO_SETTING
/******************************** IO Expander **************************/

/******************************** power **************************/
#define TP_POWER_V2
#define HAS_DSP_EN
#define HAS_DC_IN
#define HAS_BATTERY
#define HAS_EXT_CHARGE_CTRL
#define HAS_BAT_CHARGE
#define HAS_BAT_CHARGE_STATUS
#define HAS_BATTERY_DETECT
#define HAS_BATTERY_NTC
#define HAS_MCU_SLEEP
#define HAS_PWR_IO_EXPANDER
#define HAS_AMP_CTRL
#define HAS_BAT_CHG_CURRENT_SELECT
/******************************** power **************************/

/******************************** Safety **************************/
#define HAS_IWDG
#define IWDG_FEED_PERIOD_SEC (20)

/******************************** Safety **************************/

/******************************** debug & rom **************************/
#define HAS_DEBUG
#define HAS_DEBUG_RESP
#define MAINAPP_DEBUG
#define HAS_SETTING
#define SETTING_HAS_ROM_DATA
#define HAS_NVM
#define TP_MONITOR_ON_OFF_CONTROLx
#define TP_MONITOR_HAS_PRIVATE_SIGNAL
#define HAS_IGNORE_UART_OVER_RUN_ERROR
#define HAS_IGNORE_UART_FRAMING_ERROR
/******************************** debug & rom **************************/

/******************************** led **************************/
#define HAS_LEDS
#define LED_HAS_RGB
#define LED_HAS_IOEXPANDER
#define LED_SRV_HAS_SLEEP
#define LED_SRV_EVENT_Q_SIZE        10
#define LED_BATTERY_BAR_LV          (10)
#define REVERSE_BATT_LED
/******************************** led **************************/

/******************************** MCU & peripheral **************************/
///define the number of UART system is using
#define NUM_OF_UART     1
//#define HAS_INDEPENDED_WATCHDOG
#define HAS_I2C2
/******************************** MCU peripheral **************************/

/******************************** OSC **************************/
#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (12288000)
//#define EXTERNAL_AND_INTERNAL_HIGH_SPEED_CLOCK
#define INTERNAL_HIGH_SPEED_CLOCK
/******************************** OSC **************************/

/******************************** QP setting **************************/
#define NUM_OF_SMALL_EVENTS         15
#define SIZE_OF_SMALL_EVENTS        8

#define NUM_OF_MEDIUM_EVENTS        15
#define SIZE_OF_MEDIUM_EVENTS       16

#define NUM_OF_LARGE_EVENTS         16
#define SIZE_OF_LARGE_EVENTS        32

#define AUDIO_SRV_EVENT_Q_SIZE      10
#define SETT_SRV_EVENT_Q_SIZE       6
#define DBG_SRV_EVENT_Q_SIZE        8
#define DBG_SRV_TX_BUF_Q_SIZE       8
#define KEY_SRV_EVENT_Q_SIZE        10
#define BT_SRV_EVENT_Q_SIZE         14
#define POWER_SRV_EVENT_Q_SIZE      10
#define ASETK_SRV_EVENT_Q_SIZE      10
#define MAINAPP_EVENT_Q_SIZE        10
/******************************** QP setting **************************/


/**********************/
/* DELEGATE */
/**********************/
/// Enable DELEGATE
#define HAS_DELEGATES
//#define HAS_BT_DELEGATE
//#define HAS_POWER_DELEGATE
#ifdef HAS_DELEGATES
#define HAS_IDLE_DELEGATE
#ifdef HAS_IDLE_DELEGATE

#endif /* HAS_IDLE_DELEGATE */
#endif /* HAS_DELEGATES */


/******************************** stack **************************/
#define HAS_STACK_OVERFLOW_LOW_LEVEL_CHECK
/******************************** stack **************************/

#define SYS_TICKS_PER_SEC       1000U
#define GET_TICKS_IN_MS(x)      (x * SYS_TICKS_PER_SEC / 1000)



#endif  // PRODUCT_CONFIG

