/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

/****************************************************************/
/*** **************MACRO DEFINITION********************************/
/***************************************************************/

/*---------------------------------------------------------------*/

#define     INITIAL_STEP             0

/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4095
/***************************************************************************
 * DC input Config
 ***************************************************************************/
#define CHARGER_MAX_mVOLT    6000
#define CHARGER_MIN_mVOLT    2000

#define DC_RESISTOR1         300
#define DC_RESISTOR2         200
#define DC_ADC_TO_mVOLT(adc)  ((int16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION \
                                *(DC_RESISTOR2+DC_RESISTOR1)/DC_RESISTOR1))

#define POWER_STAGE1_DELAY (100)
#define POWER_STAGE2_DELAY (100)
#define POWER_STAGE3_DELAY (200)
#define POWER_STAGE4_DELAY (50)

/***************************************************************************
 * BATTERY detect Config
 ***************************************************************************/
#define BATT_RESISTOR1         180
#define BATT_RESISTOR2         330
#define BATT_ADC_TO_mVOLT(adc)  ((int16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION \
                                  *(BATT_RESISTOR2+BATT_RESISTOR1)/BATT_RESISTOR1))
                                  
#define     BAT_CHARGE_STATUS        GPIO_26

#define     BT_DSP_EXPANDER_RST_N      GPIO_11
#define     BT_DSP_EXPANDER_PWR_N      GPIO_10
#define     BT_DSP_EXPANDER_RST_ON(x)  GpioDrv_ClearBit(&(x),BT_DSP_EXPANDER_RST_N), GpioDrv_ClearBit(&(x),BT_DSP_EXPANDER_PWR_N)
#define     BT_DSP_EXPANDER_RST_OFF(x) GpioDrv_SetBit(&(x),BT_DSP_EXPANDER_RST_N), GpioDrv_SetBit(&(x),BT_DSP_EXPANDER_PWR_N)

#define     SYS_PWR_ON               GPIO_12
#define     SYS_PWR_ENABLE(x)        GpioDrv_SetBit(&(x),SYS_PWR_ON)
#define     SYS_PWR_DISABLE(x)       GpioDrv_ClearBit(&(x),SYS_PWR_ON)

/*
	GPIO_29, GPIO_30 are not defined as GPIO pins for power, 
	so following macro commands have no effect
*/

#define     BUCK_ON                     GPIO_29
#define     BUCK_ON_ENABLE(x)           GpioDrv_SetBit(&(x),BUCK_ON)
#define     BUCK_ON_DISABLE(x)          GpioDrv_ClearBit(&(x),BUCK_ON)

#define     USB_ON                      GPIO_30
#define     USB_ON_ENABLE(x)            GpioDrv_SetBit(&(x),USB_ON)
#define     USB_ON_DISABLE(x)           GpioDrv_ClearBit(&(x),USB_ON)

#define     IS_TPS2546_CHARGING_DONE(x) GpioDrv_ReadBit(&(x), BAT_CHARGE_STATUS)

#define     IS_DC_IN(x)                 (0)
