/**
*  @file      controller.Config
*  @brief     Dummy controller config
*  @author    Christopher Alexander
*  @date      21-Nov-2014
*  @copyright Tymphany Ltd.
*/
#include "product.config"


void FakeSrv_StartUp(cPersistantObj *me)
{
    static uint8 prio = AUDIO_SRV_ID;
    QActive_ctor((QActive*)me,NULL);
    QActive_start((QActive*)me,prio,NULL,0,NULL,0,NULL);
}
void FakeApp_StartUp(cPersistantObj *me)
{
    static uint8 prio = MAIN_APP_ID;
    QActive_ctor((QActive*)me,NULL);
    QActive_start((QActive*)me,prio,NULL,0,NULL,0,NULL);
}
void Fake_ShutDown(cPersistantObj *me)
{

}

cPersistantObj KeySrv = {.Startup =&FakeSrv_StartUp, .Shutdown = &Fake_ShutDown };


cPersistantObj AudioSrv = {.Startup =&FakeSrv_StartUp, .Shutdown = &Fake_ShutDown };

                        
/* user can config the mode below*/
const static tObjectListEntity  serverList [] =
{
#ifdef HAS_AUDIO_CONTROL
    {AUDIO_SRV_ID,              &AudioSrv,       NORMAL_MODE | UPGRADE_MODE},
#endif

#ifdef HAS_KEYS
    {KEY_SRV_ID,                &KeySrv,         NORMAL_MODE | STANDBY_MODE | POWERING_UP_MODE | POWERING_DOWN_MODE },
#endif
};

/* App declaration*/

cPersistantObj MainApp = {.Startup =&FakeApp_StartUp, .Shutdown = &Fake_ShutDown };

const static tObjectListEntity  appList [] =
{
    {MAIN_APP_ID,               &MainApp,          ALL_MODES},
};

