/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

/****************************************************************/
/*** **************MACRO DEFINITION********************************/
/***************************************************************/

/*---------------------------------------------------------------*/

#define     INITIAL_STEP             0

/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4096
/***************************************************************************
 * DC input Config
 ***************************************************************************/
//#define CHARGER_MAX_mVOLT    17500//  15V +15%
//#define CHARGER_MIN_mVOLT    12750 // 15V -15%

//#define DC_RESISTOR1         200
//#define DC_RESISTOR2         1000
//#define DC_ADC_TO_mVOLT(adc)  ((int16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION \
//                                *(DC_RESISTOR2+DC_RESISTOR1)/DC_RESISTOR1))

#define POWER_STAGE1_DELAY (100)
#define POWER_STAGE2_DELAY (200)
#define POWER_STAGE3_DELAY (200)
#define POWER_STAGE4_DELAY (50)

/***************************************************************************
 * BATTERY detect Config
 ***************************************************************************/
//#define BATT_RESISTOR1         270
//#define BATT_RESISTOR2         1000
//#define BATT_ADC_TO_mVOLT(adc)  ((int16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION \
//                                  *(BATT_RESISTOR2+BATT_RESISTOR1)/BATT_RESISTOR1))

/****************************************************************/
/*** **************MACRO DEFINITION********************************/
/***************************************************************/

#define     BT_DSP_EXPANDER_RST_N      GPIO_11 //RESET ,PA12
#define     BT_DSP_EXPANDER_RST_ON(x)  GpioDrv_ClearBit(&(x),BT_DSP_EXPANDER_RST_N)
#define     BT_DSP_EXPANDER_RST_OFF(x) GpioDrv_SetBit(&(x),BT_DSP_EXPANDER_RST_N)

#define     SYS_PWR_ON                GPIO_14  //EN_+3V3, PA6
#define     SYS_PWR_ENABLE(x)         GpioDrv_SetBit(&(x),SYS_PWR_ON)
#define     SYS_PWR_DISABLE(x)        GpioDrv_ClearBit(&(x),SYS_PWR_ON)

#define     AMP_RST_N                 GPIO_12 //RESET ,PF6
#define     AMP_RST_N_ON(x)           GpioDrv_ClearBit(&(x),AMP_RST_N)
#define     AMP_RST_N_OFF(x)          GpioDrv_SetBit(&(x),AMP_RST_N)

#define     AMP_PDN_N                 GPIO_13 //AMP PDN ,PF7
#define     AMP_PDN_N_ON(x)           GpioDrv_SetBit(&(x),AMP_PDN_N)
#define     AMP_PDN_N_OFF(x)          GpioDrv_ClearBit(&(x),AMP_PDN_N)


#define     POWER_KEY_PIN             GPIO_16
#define     IS_POWER_SWITCH_ON(x)     GpioDrv_ReadBit(&(x),POWER_KEY_PIN)

#define     ADC_3_3V_EN               GPIO_17
#define     ADC_3_3V_EN_ON(x)         GpioDrv_SetBit(&(x),ADC_3_3V_EN)
#define     ADC_3_3V_EN_OFF(x)        GpioDrv_ClearBit(&(x),ADC_3_3V_EN)



/* power input detect*/
//#define     DC_DET_IN                GPIO_6 //VDC_DET_IN, PA4
//#define     IS_DC_IN(x)              GpioDrv_ReadBit(&(x),DC_DET_IN)
//
//#define     BUCK_ON                 GPIO_7
//#define     BUCK_ON_ENABLE(x)       GpioDrv_SetBit(&(x),BUCK_ON)
//#define     BUCK_ON_DISABLE(x)      GpioDrv_ClearBit(&(x),BUCK_ON)
//
//#define     USB_ON                  GPIO_8
//#define     USB_ON_ENABLE(x)        GpioDrv_SetBit(&(x),USB_ON)
//#define     USB_ON_DISABLE(x)       GpioDrv_ClearBit(&(x),USB_ON)
//
//#define     TPS2546_STATUS              GPIO_9
//#define     IS_TPS2546_CHARGING_DONE(x) GpioDrv_ReadBit(&(x),TPS2546_STATUS)
