#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               1024        // # of 32-bit Instructions per Page
#define SETTING_SAVE_MS         10000       // after 10 sec from last changing of input source it will be saved into the flash
#define IDLE_TIMEOUT_MS         3000
#define TIMER_PERIOD_MS         1000

typedef struct tSettingEntry
{
    uint8   vol_level;              /**< SETID_VOLUME       */
    int8    bass_level;              /**< SETID_BASS       */
    int8    treble_level;              /**< SETID_TREBLE       */
    uint32  adc_table_volume;
    uint32  adc_table_bass;
    uint32  adc_table_treble;
    eAudioChannel channel;
    eBtStatus btStatus;
    bool isMusicPlaying;            /***< SETID_MUSIC_DET */
    bool isAuxInPlugIn;
    int32 volumeAdcMax;
    int32 volumeAdcMin;
    int32 bassAdcMax;
    int32 bassAdcMin;
    int32 tribleAdcMax;
    int32 tribleAdcMin;
}tSettingEntry;


static tSettingEntry setting;



static tSettingDatabase settingDB[SETID_MAX] =
{
    { &setting.vol_level,    sizeof(setting.vol_level),   SETTING_ATTR_VALID},
    { &setting.bass_level,   sizeof(setting.bass_level),   SETTING_ATTR_VALID},
    { &setting.treble_level,     sizeof(setting.treble_level),     SETTING_ATTR_VALID},
    { &setting.adc_table_volume, sizeof(setting.adc_table_volume), SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.adc_table_bass,   sizeof(setting.adc_table_bass),   SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.adc_table_treble, sizeof(setting.adc_table_treble), SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.channel,          sizeof(setting.channel),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.btStatus,         sizeof(setting.btStatus),         SETTING_ATTR_VALID},
    { &setting.isMusicPlaying, sizeof(setting.isMusicPlaying), SETTING_ATTR_VALID},
    { &setting.isAuxInPlugIn, sizeof(setting.isAuxInPlugIn), SETTING_ATTR_VALID},
    { &setting.volumeAdcMax,  sizeof(setting.volumeAdcMax),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.volumeAdcMin,  sizeof(setting.volumeAdcMin),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.bassAdcMax,  sizeof(setting.bassAdcMax),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.bassAdcMin,  sizeof(setting.bassAdcMin),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.tribleAdcMax,  sizeof(setting.tribleAdcMax),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.tribleAdcMin,  sizeof(setting.tribleAdcMin),          SETTING_ATTR_VALID | SETTING_ATTR_NVM},


};

#define SETT_PAGE_ROM_ADDR      0x0800C800

static const tSettingRomMap settingRomMap[] =
{
    { SETID_CHANNEL,            0x0800C800  },
    { SETID_ADC_VOLUME,         0x0800C810  },
    { SETID_ADC_BASS,           0x0800C820  },
    { SETID_ADC_TREBLE,         0x0800C830  },
    { SETID_VOLUME_ADC_MAX,     0x0800C840  },
    { SETID_VOLUME_ADC_MIN,     0x0800C850  },
    { SETID_BASS_ADC_MAX,       0x0800C860  },
    { SETID_BASS_ADC_MIN,       0x0800C870  },
    { SETID_TREBLE_ADC_MAX,     0x0800C880  },
    { SETID_TREBLE_ADC_MIN,     0x0800C890  },
};
