/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   iBT150 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

#include "AudioSrv.h"
#include "product.config"

/*****************************************************************
 * Config Data
 *****************************************************************/
/* the time (ms) per timeout signal */
#define AUDIO_SRV_TIMEOUT_IN_MS  100

