
/*
* Note: this config file should be included in deviceTypes_v2.h.
*/

#define MAX_BRT  255
#define MIN_BRT  0
#define DIM_BRT  20
#define MORE_DIM_BRT  15

#define RED             RGBA(MAX_BRT,       0,       0, MAX_BRT)
#define GREEN           RGBA(      0, MAX_BRT,       0, MAX_BRT)
#define BLUE            RGBA(      0,       0, MAX_BRT, MAX_BRT)
#define AMBER           RGBA(MAX_BRT, MAX_BRT/20+1,  0, MAX_BRT)
#define YELLOW          RGBA(MAX_BRT, MAX_BRT,       0, MAX_BRT)
#define PURPLE          RGBA(MAX_BRT,       0, MAX_BRT, MAX_BRT)
#define ORANGE          RGBA(MAX_BRT,    0xA5,       0, MAX_BRT)
#define WHITE           RGBA(MAX_BRT, MAX_BRT, MAX_BRT, MAX_BRT)
#define BLACK           RGBA(      0,       0,       0,       0)
#define PREVIOUS_COLOR  RGBA(      0,       0,       0, MAX_BRT)

#define DIM_RED         RGBA(DIM_BRT,       0,       0, DIM_BRT)
#define DIM_GREEN       RGBA(      0, DIM_BRT,       0, DIM_BRT)
#define DIM_BLUE        RGBA(      0,       0, DIM_BRT, DIM_BRT)
#define DIM_AMBER       RGBA(DIM_BRT, DIM_BRT/20+1,  0, DIM_BRT)
#define DIM_YELLOW      RGBA(DIM_BRT, DIM_BRT,       0, DIM_BRT)
#define DIM_PURPLE      RGBA(DIM_BRT,       0, DIM_BRT, DIM_BRT)

/* set the Blue LED to more dim to fix issue: [Production Comment] Product and Connectivity LED color is blue-ish white [IN:011835]
* https://pm.tymphany.com/SpiraTeam/243/Incident/11835.aspx
*/
#define DIM_WHITE       RGBA(DIM_BRT, MORE_DIM_BRT, MORE_DIM_BRT, DIM_BRT)



