/**
*  @file      LedSrv.Config
*  @brief     Config data for LED patterns, modified according to UI
*  @author    Wesley Lee
*  @date      15-Jul-2014
*  @copyright Tymphany Ltd.
*/

#include "pattern.h"
#include "colorPalette.config"

#define LED_STRIP_BRIGHTNESS_STEPS (20)
#define LED_STRIP_STEPS            (90)
#define LED_STRIP_LEDS_NUM         (15)

#define LED_STRIP_DELTA_START ((LED_STRIP_STEPS - LED_STRIP_BRIGHTNESS_STEPS) / (LED_STRIP_LEDS_NUM - 1))

/*
NOTE: LED_STRIP_DELTA_START must be integer.
To properly select LED_STRIP_BRIGHTNESS_STEPS, which is the only parameter
to choose based on given LED_STRIP_STEPS and LED_STRIP_LEDS_NUM, so that
LED_STRIP_DELTA_START is integer and user experiences with a strip line is the best,
use "A method of optimal light strip parameters".

Link:

TODO: provide a link to a method description.
*/

