/**
*  @file      AppPrivSig.Config
*  @brief     Example config data for app private signals
*  @author    Dmitry Abdulov
*  @date      17-Nov-2015
*  @copyright Tymphany Ltd.
*/
#ifdef HAS_APP_PRIVATE_SIG

#define APP_PRIV_SIG_NUM_MAX	19


enum AppPriSignals /* main appp private signals */
{
    /* do not change the value */
    MAINAPP_SET_VOL_REQ_SIG      = 224,
    MAINAPP_GET_VOL_REQ_SIG      = 225,
    MAINAPP_GET_VOL_RESP_SIG     = 226,
    BLE_WRITE_DATA_REQ_SIG       = 240,
    BLE_READ_DATA_REQ_SIG,
    BLE_READ_DATA_RESP_SIG,
    BLE_RESET_ITEM_REQ_SIG,
    BLE_MENU_FEATURE_REQ_SIG,
    BLE_MENU_FEATURE_RESP_SIG,
    BLE_UART_VERIFY_REQ_SIG,
    BLE_UART_VERIFY_RESP_SIG,
    BLE_PRODUCTION_TEST_RQE_SIG,
    BLE_PRODUCTION_TEST_RESP_SIG,
    MAINAPP_DFU_REQ_SIG,
    MAINAPP_DFU_RESP_SIG,
    MAINAPP_VERSION_REQ_SIG,
    MAINAPP_VERSION_RESP_SIG,
    MAINAPP_PRODUCT_NAME_REQ_SIG,
    MAINAPP_PRODUCT_NAME_RESP_SIG,
};

static const tAppSigMapTable  app_priv_sig_map[APP_PRIV_SIG_NUM_MAX] =
{
    {MAINAPP_SET_VOL_REQ_SIG,       REQ_EVT_SIG},
    {MAINAPP_GET_VOL_REQ_SIG,       REQ_EVT_SIG},
    {MAINAPP_GET_VOL_RESP_SIG,      RESP_EVT_SIG},
    {BLE_WRITE_DATA_REQ_SIG,        REQ_EVT_SIG},
    {BLE_READ_DATA_REQ_SIG,         REQ_EVT_SIG},
    {BLE_READ_DATA_RESP_SIG,        RESP_EVT_SIG},
    {BLE_RESET_ITEM_REQ_SIG,        REQ_EVT_SIG},
    {BLE_MENU_FEATURE_REQ_SIG,      REQ_EVT_SIG},
    {BLE_MENU_FEATURE_RESP_SIG,     RESP_EVT_SIG},
    {BLE_UART_VERIFY_REQ_SIG,       REQ_EVT_SIG},
    {BLE_UART_VERIFY_RESP_SIG,      RESP_EVT_SIG},
    {BLE_PRODUCTION_TEST_RQE_SIG,   REQ_EVT_SIG},
    {BLE_PRODUCTION_TEST_RESP_SIG,  RESP_EVT_SIG},
    {MAINAPP_DFU_REQ_SIG,           REQ_EVT_SIG},
    {MAINAPP_DFU_RESP_SIG,          RESP_EVT_SIG},
    {MAINAPP_VERSION_REQ_SIG,       REQ_EVT_SIG},
    {MAINAPP_VERSION_RESP_SIG,      RESP_EVT_SIG},
    {MAINAPP_PRODUCT_NAME_REQ_SIG,  REQ_EVT_SIG},
    {MAINAPP_PRODUCT_NAME_RESP_SIG, RESP_EVT_SIG},
};

#endif