/**
*  @file      controller.Cofig
*  @brief     Config data for controller
*  @author    Bob.Xu
*  @date      18-Mar-2014
*  @copyright Tymphany Ltd.
*/
#include "product.config"

/* server declaration */
#ifdef HAS_POWER_CONTROL
#include "PowerSrv.h"
static cPowerSrv PowerSrv = {SRV_CTOR_FNC(&PowerSrv_StartUp),
                        SRV_XTOR_FNC(&PowerSrv_ShutDown)};
#endif

#ifdef HAS_KEYS
#include "KeySrv.h"
static cKeySrv KeySrv = {SRV_CTOR_FNC(&KeySrv_StartUp),
                        SRV_XTOR_FNC(&KeySrv_ShutDown)};
#endif

#ifdef HAS_LEDS
#include "LedSrv.h"
static cLedSrv ledSrv = {SRV_CTOR_FNC(&LedSrv_StartUp),
                    SRV_XTOR_FNC(&LedSrv_ShutDown)};
#endif

#ifdef HAS_AUDIO_CONTROL
#include "AudioSrv.h"
static cAudioSrv AudioSrv = {SRV_CTOR_FNC(&AudioSrv_StartUp),
                        SRV_XTOR_FNC(&AudioSrv_ShutDown)};
#endif

#ifdef HAS_DEBUG
#ifndef Q_SPY
#include "DebugSSrv.h"
static cDebugSSrv DebugSSrv = {SRV_CTOR_FNC(&DebugSrv_StartUp),
                      SRV_XTOR_FNC(&DebugSSrv_ShutDown)};
#endif
#endif

#ifdef HAS_SETTING
#include "SettingSrv.h"
#ifdef SETTING_HAS_ROM_DATA
static cSettingSrv SettingSrv = {SRV_CTOR_FNC(&SettingSrv_StartUp),
                    SRV_XTOR_FNC(&SettingSrv_ShutDown)};
#endif  // SETTING_HAS_ROM_DATA
#endif  // HAS_SETTING

#ifdef HAS_BLE_CTRL
#include "BleSrv.h"
static cBleSrv BleSrv = {SRV_CTOR_FNC(&BleSrv_StartUp),
                      SRV_XTOR_FNC(&BleSrv_ShutDown)};
#endif

#ifdef HAS_USB
#include "UsbSrv.h"
static cUsbSrv UsbSrv = {SRV_CTOR_FNC(&UsbSrv_StartUp),
                    SRV_XTOR_FNC(&UsbSrv_ShutDown)};
#endif

/* user can config the mode below*/
const static tObjectListEntity  serverList [] =
{
#ifdef HAS_DEBUG
#ifndef Q_SPY
      {DEBUG_SRV_ID,            (cPersistantObj *)&DebugSSrv,      SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif
#endif

#ifdef HAS_BLE_CTRL
      {BLE_CTRL_SRV_ID,         (cPersistantObj *)&BleSrv,          SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif

#if defined(HAS_SETTING) && defined(SETTING_HAS_ROM_DATA)
    {SETTING_SRV_ID,            (cPersistantObj *)&SettingSrv,     SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif

#ifdef HAS_AUDIO_CONTROL
    {AUDIO_SRV_ID,              (cPersistantObj *)&AudioSrv,       SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE },
#endif
#ifdef HAS_LEDS
    {LED_SRV_ID,                (cPersistantObj *)&ledSrv,         SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif

#ifdef HAS_KEYS
    {KEY_SRV_ID,                (cPersistantObj *)&KeySrv,         SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif

#ifdef HAS_POWER_CONTROL
    {POWER_SRV_ID,              (cPersistantObj *)&PowerSrv,       SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
#endif

#ifdef HAS_USB
    {USB_SRV_ID,                (cPersistantObj *)&UsbSrv,         SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE},
#endif

};

/* App declaration*/
#include "MainApp.h"
static cMainApp MainApp =  {APP_CTOR_FNC(&MainApp_StartUp),
                        APP_XTOR_FNC(&MainApp_ShutDown)};

const static tObjectListEntity  appList [] =
{
    {MAIN_APP_ID,               (cPersistantObj *)&MainApp,        SHOP_MODE | NORMAL_MODE | POWERING_UP_MODE  | POWERING_DOWN_MODE},
};

