/**
*  @file      HdmiSrv.Config
*  @brief     Config data for HDMI Server
*  @author    Neo Gan
*  @date      13-10-2017
*  @copyright Tymphany Ltd.
*/


/*
* Timeout setting at HdmiSrv_PreActive() function
*/
#define HDMI_PREV_ACTIVE_MS 500

/*
* Timeout setting at HdmiSrv_Active() function
*/
#define HDMI_TICK_MS 100
