/**
*  @file      pattern.config
*  @brief     Config data for LED patterns, modified according to UI
*  @author    Wesley Lee
*  @date      15-Jul-2014
*  @copyright Tymphany Ltd.
*/

#include "LedDrv.h"
/***************************************************************************
 * led Pattern Config Data,

 * @param  periodTime       the repeated period time in ms
 * @para   onTime           the time of turning on LED (duty cycle),
 *                          it's only valid in Blink style
 *                          when onTime     == periodTime    , it will light up solid
 * @para   duration         the duration of the pattern,
 *                          set to ALWAYS_REPEAT if it's always repeated
 * @para   color            the color of LED
 * para    nextPattern      It's used to combine patterns. When one pattern is shown once,
 *                          led_srv will jump to show the next pattern which is defined
 *                          in this parameter. Set it to PAT_MAX_NUMBER to only show one pattern
 *                          check below "SYS_ON_CRITICAL_BAT_PAT" for example
 * @para   style            the style we need, defined in ePatStyle
 ***************************************************************************/


/* Fading pattern setting
 */
#define MAX_BRIGHTNESS   (255)
#define FADING_DATA_SIZE (256)

/* Other Setting
 */
#define ALWAYS_REPEAT (~0)
#define LED_OFF_LEVEL   0

tPatternData patternConfig[PAT_MAX_NUMBER] =
{
/* OFF_PATT */
   {
    .periodTime     = 0,
    .onTime         = 0,
    .duration       = ALWAYS_REPEAT,
    .color          = BLACK,
    .nextPattern    = PAT_MAX_NUMBER,
    .style          = SOLID_STYLE,
    .fading_data    = NULL,
    },

};

