
#ifndef USBD_DCD_CONFIG
#define USBD_DCD_CONFIG


#define USB_MAX_EP0_SIZE    (64)
#define USB_SPEED_FULL      (1)

/* Endpoints used by the device */
#define EP_NUM  (4) /* EP0 + EP1 For CDC IN + EP3 For CDC OUT + EP2 For CDC INT */

/* EP0 is always for setup package */
#define EP_IN_CTRL			(0x00)	/* EP0 IN -> data From Host to device */
#define EP_OUT_CTRL			(0x80)	/* EP0 OUT -> data From device to host */

/* custom endoint address for CDC */
#define CDC_OUT_EP          0x03  /* EP3 for data OUT */
#define CDC_IN_EP           0x81  /* EP1 for data IN */
#define CDC_CMD_EP          0x82  /* EP2 for CDC commands */

/* EP0, RX/TX buffers base address */
#define ENDP0_RX_ADDRESS    (0x40)
#define ENDP0_TX_ADDRESS    (0x80)

/* EP2 TX/RX buffer base address */
#define BULK_IN_TX_ADDRESS  (0xC0) 
#define BULK_OUT_RX_ADDRESS (0x110)

/* EP3 Tx buffer base address */
#define INT_IN_TX_ADDRESS   (0x100)

/* buffer table base address */
#define BTABLE_ADDRESS      (0x000)

/* Endpoints parameters: you can fine tune these values depending on the needed baudrates and performance. */
#define DATA_MAX_PACKET_SIZE    64   /* Endpoint IN & OUT Packet size */
#define CMD_PACKET_SZE          8    /* Control Endpoint Packet size */
#define IN_FRAME_INTERVAL       5
/******************************************************************************
    Part: Other/Mix configurations
******************************************************************************/
    /* Mask defining which events has to be handled by the device application software */
#define IMR_MSK (CNTR_CTRM  | CNTR_WKUPM | CNTR_SUSPM | CNTR_ERRM  | CNTR_SOFM | \
                     CNTR_ESOFM | CNTR_RESETM)
#ifdef LPM_ENABLED
#define IMR_MSK (CNTR_CTRM  | CNTR_WKUPM | CNTR_SUSPM | CNTR_ERRM  | CNTR_SOFM | \
                     CNTR_ESOFM | CNTR_RESETM | CNTR_L1REQM)
#endif

#endif //USBD_DCD_CONFIG