/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   Polk Allplay 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

/* the time (ms) per timeout signal */
#define AUDIO_SRV_TIMEOUT_IN_MS  10

/* measured in ms */
#define AUDIO_ACTIVE_DELAY_UNMUTE_TIME          500
#define AUDIO_ACTIVE_LINE_IN_JACK_SCAN_TIME     500
#define AUDIO_ACTIVE_MUSIC_DETECT_TIME          2000
#define AUDIO_SWITCH_CHANNEL_DELAY_TIME         200

#ifdef AUDIO_MULTI_SOURCE
/* change the default channel here*/
#define AUDIO_DEFAULT_CHANNEL  AUDIO_CHANNEL_0
#define HAS_I2S_INPUT

#endif // AUDIO_MULTI_SOURCE

#define HAS_AMPLIFY_RESET
#define HAS_AMPLIFY_MUTE

#ifdef HAS_AUDIO_SRC // SRC: sample rate converter
#define AUDIO_SRC_I2C_ADDR      (0x28)
#endif

#ifdef HAS_AUDIO_ADC
#define AUDIO_ADC_I2C_ADDR      (0x94)

#define AUDIO_ADC_PGA_DEFAULT   (-24)    //-12dB
#define AUDIO_ADC_AUXIN_PGA     (0x0c)    //6dB
#define AUDIO_ADC_RCA_IN_PGA    (0x00)    //0dB
/* No used in MOFA, just add here fix compilation error
 * TO DO: remove later.
 */
#define AUDIO_ADC_BT_PGA        (-24)    //-12dB
#endif

#ifdef HAS_GPIO_JACK_IN_DETECT
/* The item order of this table should be align with AUDIO_JACK_ID_ARRAY (define in product.config). */
static tIsJackIn AudioJackIn[] =
{
    {AUXIN_JACK, &AudioDrv_IsLineInJackPluggedIn},
    {RCA_IN_JACK, &AudioDrv_IsRcaInJackPluggedIn},
    {SPDIF_IN_JACK, &AudioDrv_IsSpdifInJackPluggedIn},
};
#endif
