
#define SPDIF_IN_SAMPLES_BUFFER_SIZE	200

#define NUM_OF_SPDIF_CHANNEL        1
#define SPDIF_SENSE_VALID_COUNT_MAX     150
#define SPDIF_SENSE_VALID_COUNT_MIN     70

//#define SPDIF_SENSE_VALID_COUNT     550

#define SPDIF_SENSE_INVALID_LOWER            70
#define SPDIF_SENSE_INVALID_UPPER            150

static tSpdifObj SpdifObj[]={
    {
            .digital_data = 0,
            .pin = GPIO_23,
            .sample_count = 0,
            .channel = SPDIF_CHANNEL_0,
            .isCableConnected = 0
    }

};

#define     IsAuxinPluggedIn(x)          GpioDrv_ReadBit(x, GPIO_21) // high active

#define     IsRcaInPluggedIn(x)          (!GpioDrv_ReadBit(x, GPIO_22)) //low active

#define     IsSpdif0InPluggedIn()       (SpdifObj[0].isCableConnected)
