/**
*  @file      IR.Cofig
*  @brief     Config data for IR controller
*  @author    Bob.Xu
*  @date      29-Dec-2014
*  @copyright Tymphany Ltd.
*/

#define IR_TIMER4_TICKS_PER_SEC    10000U
#define IR_TIMER5_TICKS_PER_SEC    500U
// prescale bits, TCKPS bits, of TyCON an TxCON( Timer 1 - 5)
#define TXCON_TCKPS_256     3  //11 = 1:256  //TCKPS<1:0> Select bits for 256 Prescale
#define TXCON_TCKPS_64      2  //10 = 1:64   //TCKPS<1:0> Select bits for 64 Prescale
#define TXCON_TCKPS_8       1  //01 = 1:8    //TCKPS<1:0> Select bits for 8 Prescale
#define TXCON_TCKPS_1       0  //00 = 1:1    //TCKPS<1:0> Select bits for 1 Prescale

#define TIMER_PRESCALE_256  256
#define TIMER_PRESCALE_64   64
#define TIMER_PRESCALE_8    8
#define TIMER_PRESCALE_1    1

// IR signal detection timer settings
#define IR_TIMER_PRESCALE           TIMER_PRESCALE_64
#define IR_TXCON_TCKPS              TXCON_TCKPS_64

/******* IR related hardware *******/
#define TIMER4_RESTART()          TMR4=0;T4CONbits.TON=1
#define TIMER4_RESET_INTF()       IFS0bits.T4IF=0
#define TIMER4_ENABLE_INT()       IEC0bits.T4IE=1

#define TIMER5_RESTART()          TMR5=0;T5CONbits.TON=1
#define TIMER5_RESET_INTF()       IFS0bits.T5IF=0
#define TIMER5_ENABLE_INT()       IEC0bits.T5IE=1


#define IR_BITS_LENGTH                  32

#define ENABLE_IR_REMOTE_CTRL
#define MARLEY_IR_REMOTE_CTRL

#define IR_HEAD_CODE_LOWER_LIMIT        125
#define IR_HEAD_CODE_CENTER             135  /* head: 9ms + 4.5ms */
#define IR_HEAD_CODE_UPPER_LIMIT        147

#define IR_REPEAT_CODE_LOWER_LIMIT       107
#define IR_REPEAT_CODE_CENTER            112  /* repeat: 9ms + 2.25ms */
#define IR_REPEAT_CODE_UPPER_LIMIT       116

#define IR_LOGIC_ZERO_UPPER_LIMIT       13
#define IR_LOGIC_ZERO_CENTER            11  /* logic 1: 2.25ms */
#define IR_LOGIC_ZERO_LOWER_LIMIT       9

#define IR_LOGIC_ONE_UPPER_LIMIT        24
#define IR_LOGIC_ONE_CENTER             22  /* logic 0: 1.12ms */
#define IR_LOGIC_ONE_LOWER_LIMIT        20

#define IR_KEY_RELEASE_COUNTDOWN_TIME_120MS     120 /* time = 2ms * 60 */