#ifndef PRODUCT_CONFIG
#define PRODUCT_CONFIG

/** @brief Max volume, need to reference DSP volume table
*    @see MASTER_VOL
*/
#define MIN_VOLUME 0
#define MAX_VOLUME 29

/// The max volume when system power is low
#define LOW_POWER_MAX_VOLUME 15

/// The default volume when system is boot up
#define DEFAULT_VOLUME_PERCENT  40
#define DEFAULT_VOLUME  (((MAX_VOLUME + 1) * DEFAULT_VOLUME_PERCENT)/100)



#define TP_AUDIO_V2

#define AUDIO_ADC_AFTER_DSP

#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (12288000)

//#define BSP_TICKS_PER_SEC
#define HAS_AUDIO_CONTROL
#define HAS_KEYS
#define HAS_LINEAR_ADC_KNOB_KEY
#define HAS_GPIO_KEY

#define HAS_AUDIO_ADC
#define MASK_ENERGYSENSE_INT_CHANNEL
//#define HAS_INFRARED_CTR

#define HAS_DEBUG

#define HAS_SETTING
 

///define the number of UART system is using
#define NUM_OF_UART     1

#define NUM_OF_SMALL_EVENTS         10
#define SIZE_OF_SMALL_EVENTS        8

#define NUM_OF_MEDIUM_EVENTS        16
#define SIZE_OF_MEDIUM_EVENTS       16

#define NUM_OF_LARGE_EVENTS         16
#define SIZE_OF_LARGE_EVENTS        32

#define AUDIO_SRV_EVENT_Q_SIZE      10
#define SETT_SRV_EVENT_Q_SIZE       5
#define DBG_SRV_EVENT_Q_SIZE        10
#define DBG_SRV_TX_BUF_Q_SIZE       5
#define DISPLAY_SRV_EVENT_Q_SIZE    10
#define KEY_SRV_EVENT_Q_SIZE        5


#define MAINAPP_DEBUG_ENABLE
#endif  // PRODUCT_CONFIG

