/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   Polk Allplay 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

/* the time (ms) per timeout signal */
#define AUDIO_SRV_TIMEOUT_IN_MS  10

/* measured in ms */
#define AUDIO_ACTIVE_DELAY_UNMUTE_TIME          500
#define AUDIO_ACTIVE_LINE_IN_JACK_SCAN_TIME     500
#define AUDIO_ACTIVE_MUSIC_DETECT_TIME          500
#define AUDIO_SWITCH_CHANNEL_DELAY_TIME         100

#ifdef AUDIO_MULTI_SOURCE
/* change the default channel here*/
#define AUDIO_DEFAULT_CHANNEL  AUDIO_CHANNEL_2
#define HAS_I2S_INPUT

#endif // AUDIO_MULTI_SOURCE

#define HAS_AMPLIFY_MUTE


