/**
*  @file      LedSrv.Config
*  @brief     Config data for LED patterns, modified according to UI
*  @author    Johnny Fan
*  @date      15-Feb-2014
*  @copyright Tymphany Ltd.
*/

#include "PwmLedDrv.h"

#define LED_TICK_MS     30

#define LED_SRV_HAS_SLEEP
#define LED_SRV_HAS_RESPONSE


/* Private variables */
static cPwmLedDrv pwmLedDrvList[NUM_OF_PWM_LED];

