/**
*  @file      MainApp.Config
*  @brief     Config data for MainApp
*  @author    Daniel Qin
*  @date      25-12-2015
*  @copyright Tymphany Ltd.
*/

/* Note: the member order of the array should be changed according to eLedIndID in pattern.h */
tLedInd ledIndList[LED_IND_ID_MAX] =
{
    {LED_MASK_ALL_LEDS,         BG_WHITE_PULSE_PAT},              /* LED_IND_ID_POWERING_UP */
    {LED_MASK_CONN_LEDS,        FG_WHITE_TRANS_TO_OFF_PART1_PAT}, /* LED_IND_ID_POWERING_DOWN_CONN_WHITE */
    {LED_MASK_CONN_LEDS,        FG_PREV_TRANS_TO_OFF_PART1_PAT},  /* LED_IND_ID_POWERING_DOWN_CONN_PRIV */
    {LED_MASK_PROD_LEDS,        FG_WHITE_TRANS_TO_OFF_PART1_PAT}, /* LED_IND_ID_POWERING_DOWN_PROD_WHITE */
    {LED_MASK_PROD_LEDS,        FG_PREV_TRANS_TO_OFF_PART1_PAT},  /* LED_IND_ID_POWERING_DOWN_PROD_PREV */
    {LED_MASK_PROD_LEDS,        FG_RED_QUICK_FLASH_10S_PAT},      /* LED_IND_ID_POWERING_DOWN_ERROR */ 
    
    {LED_MASK_PROD_LEDS,        OFF_PATT},                        /* LED_IND_ID_NETWORK_STANDBY_PROD */
    {LED_MASK_CONN_LEDS,        BG_WHITE_DIM_PAT},                /* LED_IND_ID_NETWORK_STANDBY_CONN */
    {LED_MASK_ALL_LEDS,         FG_WHITE_QUICK_FLASH_ONCE_PAT},   /* LED_IND_ID_ENTER_STORAGE */
        
    {LED_MASK_CONN_LEDS,        BG_BLUE_PAT},                     /* LED_IND_ID_WIFI_UNCONFIGURED */
    {LED_MASK_CONN_LEDS,        BG_BLUE_DIM_PAT},                 /* LED_IND_ID_WIFI_UNCONFIGURED_IDLE */

    {LED_MASK_ALL_LEDS,         BG_RED_QUICK_FLASH_PAT},          /* LED_IND_ID_RST_IN_PROG */
    
    {LED_MASK_CONN_LEDS,        BG_WHITE_PAT},                    /* LED_IND_ID_WIFI_MODE_QUALITY_EXELENT */
    {LED_MASK_CONN_LEDS,        BG_WHITE_DIM_PAT},                /* LED_IND_ID_WIFI_MODE_QUALITY_EXELENT_IDLE */
    {LED_MASK_CONN_LEDS,        BG_ORANGE_PAT},                   /* LED_IND_ID_WIFI_MODE_QUALITY_GOOD */
    {LED_MASK_CONN_LEDS,        BG_ORANGE_DIM_PAT},               /* LED_IND_ID_WIFI_MODE_QUALITY_GOOD_IDLE */
    {LED_MASK_CONN_LEDS,        BG_RED_PAT},                      /* LED_IND_ID_WIFI_MODE_QUALITY_POOR */
    {LED_MASK_CONN_LEDS,        BG_RED_DIM_PAT},                  /* LED_IND_ID_WIFI_MODE_QUALITY_POOR_IDLE */    
    {LED_MASK_CONN_LEDS,        BG_ORANGE_PULSE_PAT},             /* LED_IND_ID_WIFI_CONNECTING */    
    {LED_MASK_CONN_LEDS,        BG_RED_QUICK_FLASH_PAT},          /* LED_IND_ID_WIFI_CONNECT_FAIL */    
    {LED_MASK_CONN_LEDS,        BG_WHITE_PAT},                    /* LED_IND_ID_ETHERNET_MODE */
    {LED_MASK_CONN_LEDS,        BG_WHITE_DIM_PAT},                /* LED_IND_ID_ETHERNET_MODE_IDLE */
    {LED_MASK_CONN_LEDS,        BG_ORANGE_FLASH_PAT},             /* LED_IND_ID_SOFTAP_MODE */
    {LED_MASK_PROD_LEDS,        BG_RED_QUICK_FLASH_PAT},          /* LED_IND_ID_ERROR */
    
    {LED_MASK_PROD_LEDS,        FG_WHITE_LONG_PAT},               /* LED_IND_ID_TOUCH_KEY_WHT_ON_LONG */
    {LED_MASK_PROD_LEDS,        FG_RED_LONG_PAT},                 /* LED_IND_ID_TOUCH_KEY_RED_ON_LONG */
    {LED_MASK_PROD_LEDS,        FG_RED_QUICK_FLASH_ONCE_PAT},     /* LED_IND_ID_TOUCH_KEY_FLASH_WHT_ONCE */    
    {LED_MASK_PROD_LEDS,        FG_RED_QUICK_FLASH_ONCE_PAT},     /* LED_IND_ID_TOUCH_KEY_FLASH_RED_ONCE */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_TWICE_PAT},  /* LED_IND_ID_TOUCH_KEY_FLASH_WHT_TWICE */
    {LED_MASK_PROD_LEDS,        FG_RED_QUICK_FLASH_TWICE_PAT},    /* LED_IND_ID_TOUCH_KEY_FLASH_RED_TWICE */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_THRICE_PAT}, /* LED_IND_ID_TOUCH_KEY_FLASH_WHT_THRICE */
    {LED_MASK_PROD_LEDS,        FG_RED_QUICK_FLASH_2S_PAT},       /* LED_IND_ID_TOUCH_KEY_FLASH_RED_THRICE */
    
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_ONCE_PAT},   /* LED_IND_ID_KEY_SP  */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_ONCE_PAT},   /* LED_IND_ID_KEY_LP  */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_ONCE_PAT},   /* LED_IND_ID_KEY_VLP */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_TWICE_PAT},  /* LED_IND_ID_KEY_DP  */
    {LED_MASK_PROD_LEDS,        FG_WHITE_QUICK_FLASH_ONCE_PAT},   /* LED_IND_ID_KEY_SWIPE  */
    
    {LED_MASK_ALL_LEDS,         FG_RED_QUICK_FLASH_ONCE_PAT},     /* LED_IND_ID_FACTORY_RESET_TRIGGER */
    {LED_MASK_PROD_LEDS,        FG_WHITE_LONG_10S_PAT},           /* LED_IND_ID_PLAYBACK_START */
    {LED_MASK_PROD_LEDS,        FG_RED_LONG_10S_PAT},             /* LED_IND_ID_PLAYBACK_STOP  */
    {LED_MASK_CONN_LEDS,        BG_BLUE_FLASH_PAT},               /* LED_IND_ID_BT_PAIRING_ENABLED  */
    {LED_MASK_CONN_LEDS,        FG_RED_LONG_2S_PAT},              /* LED_IND_ID_BT_PAIRING_FAIL  */
    {LED_MASK_CONN_LEDS,        FG_BLUE_LONG_2S_PAT},             /* LED_IND_ID_BT_PAIRING_SUCCESS  */
    
    {LED_MASK_PROD_LEDS,        BG_RED_DIM_PAT},                  /* LED_IND_ID_BATT_LOW_NO_DC  */
    {LED_MASK_PROD_LEDS,        BG_WHITE_PULSE_PAT},              /* LED_IND_ID_BATT_LOW_HAVE_DC  */    
    
    {LED_MASK_ALL_LEDS,         FG_RED_LONG_2S_PAT},              /* LED_IND_ID_FIRST_BOOT  */
    {LED_MASK_ALL_LEDS,         BG_RED_PULSE_PAT},                /* LED_IND_ID_SW_UPDATING */
    {LED_MASK_CONN_LEDS,        BG_ORANGE_FLASH_PAT},             /* LED_IND_ID_EXT_SOURCE, fs1:SPDIF, fs2:LINE-IN */    
    {LED_MASK_CONN_LEDS,        BG_RED_PAT},                      /* LED_IND_ID_DSP_ONLINE_TUNING, for DSP onlin tuning  */
    {LED_MASK_ALL_LEDS,         BG_ORANGE_QUICK_FLASH_PAT},       /* LED_IND_ID_FAST_BOOT, for production test  */
    
    {LED_MASK_CONN_LEDS,        FG_OFF_PATT},            /* LED_IND_ID_CONN_FG_OFF */
    {LED_MASK_PROD_LEDS,        FG_OFF_PATT},            /* LED_IND_ID_PROD_FG_OFF */
    {LED_MASK_ALL_LEDS,         FG_OFF_PATT},            /* LED_IND_ID_ALL_FG_OFF */
    
    {LED_MASK_CONN_LEDS,        OFF_PATT},               /* LED_IND_ID_CONN_OFF */
    {LED_MASK_PROD_LEDS,        OFF_PATT},               /* LED_IND_ID_PROD_OFF */

    /* add the led indication above this line */
    {LED_MASK_ALL_LEDS,         OFF_PATT},               /* LED_IND_ID_ALL_BG_OFF */
};

