/**
*  @file      DspDrv.conf
*  @brief     This file implements the DSP configuartion for the DSP ADAU1701 in CA16 project.
*  @modified  Edmond Sung
*  @date      2015-10-27
*  @copyright Tymphany Ltd.
*/

#ifndef DSPDRV_CONF
#define DSPDRV_CONF

#define DSP_SAMPLING_FREQ           (48000)
//#define DSP_INPUT_NUM               (4)

//#define VALUE_MAGNIFICATION         (10)

#define AUDIO_SOURCE_I2S        0x01
#define AUDIO_SOURCE_AUX        0x00

#define DSP_SOURCE_SWITCH_ADDR           MOD_SOURCESWITCH_SWSOURCESWITCH_STEREOSWSLEW_ADDR
#define DSP_SW_VOL_CONTROL_ADDR1         MOD_VOLUMECONTROL_SWVOLUME_ALG0_GAINS200ALG1GAINTARGET_ADDR
#define DSP_SW_VOL_CONTROL_ADDR2         MOD_VOLUMECONTROL_SWVOLUME_ALG1_GAINS200ALG2GAINTARGET_ADDR

#ifdef JOPLIN_L
#define DSP_EQ_BYPASS_SWITCH_ADDR1       MOD_SETUNING_NX4_1_2_ALG0_STAGE0_FOURCHANNELSWITCHNOSLEW_ADDR
#define DSP_EQ_BYPASS_SWITCH_ADDR2       MOD_SETUNING_NX4_1_2_ALG0_STAGE1_FOURCHANNELSWITCHNOSLEW_ADDR
#elif defined JOPLIN_S
#define DSP_EQ_BYPASS_SWITCH_ADDR1       MOD_SETUNING_NX4_1_ALG0_STAGE0_FOURCHANNELSWITCHNOSLEW_ADDR
#define DSP_EQ_BYPASS_SWITCH_ADDR2       MOD_SETUNING_NX4_1_ALG0_STAGE1_FOURCHANNELSWITCHNOSLEW_ADDR
#else
#define DSP_EQ_BYPASS_SWITCH_ADDR1       MOD_BYPASS_NX4_1_ALG0_STAGE0_FOURCHANNELSWITCHNOSLEW_ADDR
#define DSP_EQ_BYPASS_SWITCH_ADDR2       MOD_BYPASS_NX4_1_ALG0_STAGE1_FOURCHANNELSWITCHNOSLEW_ADDR
#endif
#define DSP_BASS_TUNING_REG_ADDR         MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE0_B0_ADDR
#define DSP_TREBLE_TUNING_REG_ADDR       MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE4_B0_ADDR

#ifdef DSP_EQ_BAND_TUNING
#define DSP_EQ_BAND1_REG_ADDR           MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE0_B0_ADDR
#define DSP_EQ_BAND2_REG_ADDR           MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE1_B0_ADDR
#define DSP_EQ_BAND3_REG_ADDR           MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE2_B0_ADDR
#define DSP_EQ_BAND4_REG_ADDR           MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE3_B0_ADDR
#define DSP_EQ_BAND5_REG_ADDR           MOD_BASSTREBLE_PARAMEQ1_5_ALG0_STAGE4_B0_ADDR
#endif

#define DSP_SYS_MUTE_ADDR                MOD_SYSMUTE_ALG0_MUTEONOFF_ADDR

#define DSP_AUDIO_DETECTION_REG_ADDR     MOD_SIGNALDETECTION_SWSIGNALDETECTION_READBACKALGSIGMA2001_ADDR


#define AUDIO_MUTE              0x00
#define AUDIO_UNMUTE            0x80

#define DSP_TW_MUTE_REG_ADDR_0           MOD_MUTE1_MUTENOSLEWALG1MUTE_ADDR
#define DSP_TW_MUTE_REG_ADDR_1           MOD_MUTE1_2_MUTENOSLEWALG2MUTE_ADDR

#define DSP_WF_MUTE_REG_ADDR_0           MOD_MUTE1_3_MUTENOSLEWALG3MUTE_ADDR
#define DSP_WF_MUTE_REG_ADDR_1           MOD_MUTE1_4_MUTENOSLEWALG4MUTE_ADDR

#define DSP_VERSION_REG_VALUE            MOD_SWVERSION_DCINPALG2_VALUE
#define SIGMASTUDIOTYPE_FIXPOINT_CONVERT(x)  (x)
#endif


