/**
*  @file      AppPrivSig.Config
*  @brief     Example config data for app private signals
*  @author    Dmitry Abdulov
*  @date      17-Nov-2015
*  @copyright Tymphany Ltd.
*/
#ifdef HAS_APP_PRIVATE_SIG

#include "DebugSSrv.h"

#define APP_PRIV_SIG_NUM_MAX	8

#define BLE_WRITE_DATA_REQ_SIG  240
#define BLE_READ_DATA_REQ_SIG   241
#define BLE_READ_DATA_RESP_SIG  242
#define BLE_RESET_ITEM_REQ_SIG  243
#define BLE_MENU_FEATURE_REQ_SIG 244
#define BLE_MENU_FEATURE_RESP_SIG 245
#define BLE_CONSUMING_REQ_SIG	 246
#define BLE_CONSUMING_RESP_SIG   247

const tAppSigMapTable  app_priv_sig_map[APP_PRIV_SIG_NUM_MAX] =
{
    {BLE_WRITE_DATA_REQ_SIG, REQ_EVT_SIG},
    {BLE_READ_DATA_REQ_SIG,  REQ_EVT_SIG},
    {BLE_READ_DATA_RESP_SIG, RESP_EVT_SIG},
    {BLE_RESET_ITEM_REQ_SIG, REQ_EVT_SIG},
    {BLE_MENU_FEATURE_REQ_SIG,REQ_EVT_SIG},
    {BLE_MENU_FEATURE_RESP_SIG,RESP_EVT_SIG},
	{BLE_CONSUMING_REQ_SIG, REQ_EVT_SIG},
    {BLE_CONSUMING_RESP_SIG,RESP_EVT_SIG}
};

#endif