/**
*  @file      DisplaySrv.Config
*  @brief     Config data for display server
*  @author    Bob.Xu
*  @date      3-April-2014
*  @copyright Tymphany Ltd.
*/
#define DEFAULT_BRIGHTNESS_LEVEL    2
#define DIM_BRIGHTNESS_LEVEL        1

const uint16 DISPLAY_SRV_TICK_TIME = GET_TICKS_IN_MS(10);
tDisplaySrvConfig displaySrvConf = 
{
	.displayStyle       = DISPLAY_STYLE_SCROLL_LEFT,
	.frameInterval      = 100, //ms
#ifdef HAS_SCREEN_DIM_CTRL
    .dimTimeThreshold   = 10, //ms
    .dimEnabled         = TRUE
#endif
};