/**
*  @file      IR.Cofig
*  @brief     Config data for IR controller
*  @author    Bob.Xu
*  @date      29-Dec-2014
*  @copyright Tymphany Ltd.
*/


#define IR_BITS_LENGTH                  32

#define ENABLE_IR_REMOTE_CTRL
#define MARLEY_IR_REMOTE_CTRL

#define IR_HEAD_CODE_LOWER_LIMIT        125
#define IR_HEAD_CODE_CENTER             135  /* head: 9ms + 4.5ms */
#define IR_HEAD_CODE_UPPER_LIMIT        147

#define IR_REPEAT_CODE_LOWER_LIMIT       107
#define IR_REPEAT_CODE_CENTER            112  /* repeat: 9ms + 2.25ms */
#define IR_REPEAT_CODE_UPPER_LIMIT       116

#define IR_LOGIC_ZERO_UPPER_LIMIT       13
#define IR_LOGIC_ZERO_CENTER            11  /* logic 1: 2.25ms */
#define IR_LOGIC_ZERO_LOWER_LIMIT       9

#define IR_LOGIC_ONE_UPPER_LIMIT        24
#define IR_LOGIC_ONE_CENTER             22  /* logic 0: 1.12ms */
#define IR_LOGIC_ONE_LOWER_LIMIT        20

#define IR_KEY_RELEASE_COUNTDOWN_TIME_120MS     120 /* time = 2ms * 60 */

