#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               1024        // # of 32-bit Instructions per Page
static tSettingEntry setting;
static tSettingDatabase settingDB[SETID_MAX] =
{
#ifdef HAS_BATTERY
    { &setting.bi,          sizeof(setting.bi),         SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
#endif
    { &setting.vol_level,   sizeof(setting.vol_level),   SETTING_ATTR_VALID},
    { &setting.isAcPlugIn,  sizeof(setting.isAcPlugIn),  SETTING_ATTR_VALID},
#ifdef HAS_ALLPLAY
    { &setting.allplayInfo, sizeof(setting.allplayInfo), SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
#endif  // HAS_ALLPLAY
    { (void*)0x0800C000,    15*PAGE_SIZE,               SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { (void*)0x0800FC00,    PAGE_SIZE,                  SETTING_ATTR_VALID | SETTING_ATTR_NVM},
#ifdef AUDIO_MULTI_SOURCE
    { &setting.channel,       sizeof(setting.channel),     SETTING_ATTR_VALID},
    { &setting.isAuxInPlugIn, sizeof(setting.isAuxInPlugIn), SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
#endif
    { &setting.maxVolume,   sizeof(setting.maxVolume),   SETTING_ATTR_VALID},
#ifdef HAS_POWER_DELEGATE
    { &setting.powerMode,   sizeof(setting.powerMode),   SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
#endif
#ifdef HAS_BLUETOOTH
    { &setting.btStatus,    sizeof(setting.btStatus),   SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
#endif

#ifdef HAS_BT_DELEGATE
    { &setting.callState,   sizeof(setting.callState),  SETTING_ATTR_VALID},
#else
    { NULL,                 0,                          NULL},
#endif
    { &setting.isMusicPlaying, sizeof(setting.isMusicPlaying), SETTING_ATTR_VALID},
};

