/**
*  @file      Bluetooth.config
*  @brief     Config data for ROM base BT module command
*  @author    Johnny Fan
*  @date      15-May-2014
*  @copyright Tymphany Ltd.
*/

#include "product.config"




/*****************************************************************
*
*  time for each press, should config it according to the pskey config of BT module
*
****************************************************************/
/* old config, keep it for debug purpose*/
//#define SHORT_PRESS_TIME_MS  100
//#define LONG_PRESS_TIME_MS  140
//#define VERY_LONG_PRESS_TIME_MS  180
//#define VERYVERY_LONG_PRESS_TIME_MS  220

/* new config for BT 2.0.0.7 or later version*/
#define SHORT_PRESS_TIME_MS  100
#define LONG_PRESS_TIME_MS  150
#define VERY_LONG_PRESS_TIME_MS  210
#define VERYVERY_LONG_PRESS_TIME_MS  270

#define DOUBLE_PRESS_TIME_MS 100
#define DOUBLE_PRESS_INTERAL_TIME_MS  100

/* change the START_TIME from 20ms to 10ms, to allow tolerance */
/* change the scale to 100ms for tolerance*/
#define BT_STATE_START_TIME_MS 10
#define BT_STATE_STEP_TIME_MS  100


/*****************************************************************
*
*  config the press type and output channel for each command
*
*  This data need to be corresponding to the enum value of eBtCmd in BluetoothSrv.h 
*
****************************************************************/
/*BT_CMD_CONFIG will be updated */
const tBtCmdstruct BT_CMD_CONFIG[BT_COMMON_MAX_CMD]=
{
    {BT_OUTPUT1,     BT_VLONG_PRESS     },       // BT_ENTER_PAIRING_CMD,
    {BT_OUTPUT1,     BT_SINGLE_PRESS   },        //BT_ENTER_CONNECTABLE_CMD
    {BT_OUTPUT1,     BT_LONG_PRESS     },        // BT_CONNECT_CMD,
    {BT_OUTPUT2,     BT_SINGLE_PRESS    },         // BT_PLAY_PAUSE_CMD
    {BT_OUTPUT2,     BT_VLONG_PRESS   },        // BT_RESET_PAIR_LIST_CMD, Place holder

    {BT_OUTPUT2,     BT_VVLONG_PRESS   },          //BT_ANSWER_CMD,
    {BT_OUTPUT3,     BT_LONG_PRESS   },         // BT_REJECT_CMD,
    {BT_OUTPUT3,     BT_VLONG_PRESS   },        //BT_CANCEL_END_CMD,
    {BT_OUTPUT1,     BT_VVLONG_PRESS   },        //BT_TWC_ACCEPT_WAITING_HOLD_ACTIVE_CMD,
    {BT_OUTPUT3,     BT_SINGLE_PRESS   },        //BT_TWC_RELEASE_ALL_HELD_CMD

    {BT_OUTPUT1,     BT_SINGLE_PRESS   },        //BT_AVRCP_SKIP_FORWARD_CMD,
    {BT_OUTPUT2,     BT_SINGLE_PRESS   },        //BT_AVRCP_SKIP_BACKWORD_CMD

    {BT_OUTPUT2,     BT_SINGLE_PRESS   },       //BT_OFF_CMD, place holder,
                                                 
    {BT_OUTPUT2,     BT_VVLONG_PRESS   },         // BT_TONE_RESET_PDL_CMD
    {BT_OUTPUT2,     BT_VVLONG_PRESS     },      // BT_TONE_BAT_DOCK_CMD, //Removed
    {BT_OUTPUT3,     BT_LONG_PRESS   },          // BT_TONE_AC_IN_CMD, //Removed
    {BT_OUTPUT3,     BT_LONG_PRESS   },         // BT_TONE_LIM_VOL_CMD, //Removed
    {BT_OUTPUT3,     BT_VVLONG_PRESS   },        // BT_TONE_PAIRING_CMD
    {BT_OUTPUT3,     BT_VVLONG_PRESS   },          // BT_TONE_POWER_OFF_CMD, - 19
    {BT_OUTPUT3,     BT_LONG_PRESS   },         // BT_TONE_CONNECTED_CMD
    {BT_OUTPUT3,     BT_SINGLE_PRESS   },        // BT_TONE_PAIR_FAIL_CMD,


};


