/**
*  @file      KeySrv.Cofig
*  @brief     Config data for key server
*  @author    Bob.Xu
*  @date      27-Feb-2014
*  @copyright Tymphany Ltd.
*/
#include "AdcDrv.h"
#include "GpioDrv.h"
#include "AdcKeyDrv.h"
#include "GpioKeyDrv.h"

#define DEBOUNCE_SAMP_NUM               4
#define KEY_SERVER_TICK_MS              10
#define COMB_KEY_FLAG_RESET             0

/* Private variables */

static cAdcKeyDrv adcKeySet[NUM_OF_ADC_KEY];
static cGpioKeyDrv gpioKeySet[NUM_OF_GPIO_KEY];
static cGpioDrv gpioDrvForKey;
static cADCDrv adcDrvForKey;

#ifdef HAS_INTERRUPT_WAKE_UP_KEY
#define POWER_MANAGER   MAIN_APP_ID
#endif

tKeySrvConfig keySrvConfig =
{
    .timing.debounceTime = 60, /* 60ms */
    .timing.repeatStartTime= 1000,
    .timing.longPressTime = 1000,  /* 1S */
    .timing.veryLongPressTime = 8000, /* 8S */

    /* If repeatHoldTime[x] > 0, then after sent KEY_EVT_HOLD, post KEY_EVT_REPEAT in every repeatHoldTime[x] *
    * for the specific key until veryLongPressTime                                                            *
    * If repeatHoldTime[x] = 0, it means that it is not required to send KEY_EVT_REPEAT for the specific key. */
    .timing.repeatHoldTime[VOLUME_DOWN_KEY] =  195, /* 1s  this value should be changed according to user cases in applicaiton */
    .timing.repeatHoldTime[VOLUME_UP_KEY] =  195,   /* 1s this value should be changed according to user cases in applicaiton*/

    .keyboardNum = KEYBOARD_NUMBER,
    .keyboardSet =
    {
        {ADC_DEV_TYPE,  (cKeyDrv*)adcKeySet,   sizeof(cAdcKeyDrv),    &adcDrvForKey},
        {GPIO_DEV_TYPE, (cKeyDrv*)gpioKeySet,  sizeof(cGpioKeyDrv),   &gpioDrvForKey},
        /**
         * you can add other types of keyboard here
         */
    }
};

