/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   iBT150 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

#include "AudioSrv.h"
#include "product.config"


/*****************************************************************
 * Config Data
 *****************************************************************/

/* the time (ms) per timeout signal */
#define AUDIO_SRV_TIMEOUT_IN_MS  2

/* measured in ms */
#define AUDIO_ACTIVE_DELAY_UNMUTE_TIME          500
#define AUDIO_ACTIVE_LINE_IN_JACK_SCAN_TIME     500
#define AUDIO_ACTIVE_MUSIC_DETECT_TIME          500
#define AUDIO_SWITCH_CHANNEL_DELAY_TIME         100

/// The default volume for BT tone
#define BT_TONE_DEFALUT_VOLUME  8
/// The volume step for system to fade volume after playing tone
#define BT_TONE_RESTORE_VOL_STEP 1


#ifdef AUDIO_MULTI_SOURCE
    #define AUDIO_DEFAULT_CHANNEL  (*(eAudioChannel*)Setting_Get(SETID_CHANNEL))
#endif // AUDIO_MULTI_SOURCE

#ifdef HAS_GPIO_JACK_IN_DETECT

static tIsJackIn AudioJackIn[] =
{
    {AUXIN_JACK,  &AudioDrv_IsLineInJackPluggedIn},
    {SPDIF_IN_JACK,  &AudioDrv_IsSpdifInJackPluggedIn},
    {SPDIF1_IN_JACK,  &AudioDrv_IsSpdif1InJackPluggedIn},
    {RJ45_IN_JACK,  &AudioDrv_IsRJ45InJackPluggedIn},
};

static tMusicDetected AudioMusicDetect[] =
{
    {SETID_MUSIC_DET,  &AudioDrv_IsLineInMusicDetected},
    {SETID_MUSIC_DET,  &AudioDrv_IsSpdif0InMusicDetected},
    {SETID_MUSIC_DET,  &AudioDrv_IsSpdif1MusicDetected},
    {SETID_MUSIC_DET,  &AudioDrv_IsRj45_MusicDetected},
};




#endif

