#define IR_LEARNING

enum IR_KEY{
    IR_KEY_VOL_UP,
    IR_KEY_VOL_DOWN,
    IR_KEY_MUTE,
    IR_KEY_POWER,
    IR_KEY_SOURCE,
    MAX_IR_KEY
}IR_KEY;

#define KEY_MAP     {VOLUME_UP_KEY,    VOLUME_DOWN_KEY,    MUTE_KEY,    POWER_IR_KEY}


#define DEFAULT_IR_DENON_POWER_CODE                  0x29D640BF
#define DEFAULT_IR_DENON_TVINPUT_CODE                0x29D6C03F
#define DEFAULT_IR_DENON_BTINPUT_CODE                0x29D6D02F
#define DEFAULT_IR_DENON_VOL_INC_CODE                0x29D6827D
#define DEFAULT_IR_DENON_VOL_DEC_CODE                0x29D642BD
#define DEFAULT_IR_DENON_LISTEN_MODE_CODE            0x29D6B24D
#define DEFAULT_IR_DENON_DAY_NIGHT_MODE_CODE         0x29D638C7
#define DEFAULT_IR_DENON_MUTE_CODE                   0x29D6C23D
#define DEFAULT_IR_DENON_SOURCE_CODE                 0x29D6C23D

#define DEFAULT_IR_KLIPSCH_VOL_INC_CODE        0x01fec03f
#define DEFAULT_IR_KLIPSCH_VOL_DEC_CODE        0x01fe609f
#define DEFAULT_IR_KLIPSCH_MUTE_CODE           0x01fe807f
#define DEFAULT_IR_KLIPSCH_POWER_CODE          0x01fe58a7

#define DEFAULT_IR_SONY_VOL_INC_CODE           0x00882080
#define DEFAULT_IR_SONY_VOL_DEC_CODE           0x00a82080
#define DEFAULT_IR_SONY_MUTE_CODE              0x00822080


// Production mode buttons  WE NEED TO ADD this to the total number of buttons that NEVER are deleted
#define DEFAULT_IR_TEST_MODE_ON_CODE                        0x1FE5580 //0xff807f            // TVee26 remote: Power
#define DEFAULT_IR_TEST_OPTICALINPUT_CODE                   0x1FE35C0 //0xff10ef            // TVee26 remote: movie/music
#define DEFAULT_IR_TEST_COAXINPUT_CODE                      0x1FEB520 //0xff08f7            // TVee26 remote: Mute
#define DEFAULT_IR_TEST_ANALOGINPUT_CODE                    0x1FED540 //0xff50af            // TVee26 remote: vol+
#define DEFAULT_IR_TEST_BLUETOOTHINPUT_CODE                 0x1FE75A0 //0xff48b7            // TVee26 remote: vol-
#define DEFAULT_IR_TEST_HDMIARC_BUTTON                      0x1FE0DE0 //0x1FFFFFF
#define DEFAULT_IR_TEST_HDMIAUDIO_BUTTON                    0x1FEF560 //0x1FFFFFE
#define DEFAULT_IR_TEST_XXX                                 0xffb04f            // TVee26 remote: Input, not defined

#define DEFAULT_IR_DEMO_PRODUCTION_OPT_CODE                 0x444444            // dummy artificial value
#define DEFAULT_IR_DEMO_PRODUCTION_COA_CODE                 0x111111            // dummy artificial value
#define DEFAULT_IR_DEMO_PRODUCTION_ANA_CODE                 0x222222            // dummy artificial value
#define DEFAULT_IR_DEMO_PRODUCTION_BT_CODE                  0x333333            // dummy artificial value

#define DEFAULT_IR_POWER_FORMAT                  IR_FORMAT_HEAD
#define DEFAULT_IR_TVINPUT_FORMAT                IR_FORMAT_HEAD
#define DEFAULT_IR_BTINPUT_FORMAT                IR_FORMAT_HEAD
#define DEFAULT_IR_VOL_INC_FORMAT                IR_FORMAT_HEAD
#define DEFAULT_IR_VOL_DEC_FORMAT                IR_FORMAT_HEAD
#define DEFAULT_IR_LISTEN_MODE_FORMAT            IR_FORMAT_HEAD
#define DEFAULT_IR_DAY_NIGHT_MODE_FORMAT         IR_FORMAT_HEAD
#define DEFAULT_IR_MUTE_FORMAT                   IR_FORMAT_HEAD
#define DEFAULT_IR_SOURCE_FORMAT                 IR_FORMAT_HEAD

#define DEFAULT_IR_TEST_OPTICALINPUT_FORMAT      IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_COAXINPUT_FORMAT         IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_ANALOGINPUT_FORMAT       IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_BLUETOOTHINPUT_FORMAT    IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_MODE_ON_FORMAT           IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_HDMIAUDIO_BUTTON_FORMAT  IR_FORMAT_HEAD
#define DEFAULT_IR_TEST_HDMIARC_BUTTON_FORMAT    IR_FORMAT_HEAD

#define DEFAULT_IR_DEMO_PRODUCTION_OPT_FORMAT    IR_FORMAT_HEAD
#define DEFAULT_IR_DEMO_PRODUCTION_COA_FORMAT    IR_FORMAT_HEAD
#define DEFAULT_IR_DEMO_PRODUCTION_ANA_FORMAT    IR_FORMAT_HEAD
#define DEFAULT_IR_DEMO_PRODUCTION_BT_FORMAT     IR_FORMAT_HEAD

#define IR_KEY_TIME_GAP_700MS           350
#define IR_KEY_TIME_GAP             IR_KEY_TIME_GAP_700MS

#define IR_SONY_HEADER_WIDTH        (375)           // 2.4ms/6.4us = 375   
#define IR_SAMSUNG_HEADER_WIDTH     (1406)          // 9ms/6.4us = 1406
#define IR_SAMSUNG_ONE_WIDTH        (351)
#define IR_SAMSUNG_ZERO_WIDTH       (175)