/**
*  @file      LedSrv.Cofig
*  @brief     Config data for led server
*  @author    Wesley.Lee
*  @date      27-Oct-2014
*  @copyright Tymphany Ltd.
*/

#include "IoExpanderLedDrv.h"

#define LED_TICK_MS     5

//#define LED_SRV_HAS_SLEEP


/* Private variables */
static cPwmLedDrv pwmLedDrvList[NUM_OF_PWM_LED];

