#ifndef PRODUCT_CONFIG
#define PRODUCT_CONFIG

/*
 * SVS_14_ULTRA is a series, it contains SB/PB/PC, they have slight difference
 * in terms of hardware and software. 
 */
 
#define STRINGIFY2(x) #x
#define STRINGIFY(x) STRINGIFY2(x)
#define PASTE2(a, b) a##b
#define PASTE(a, b) PASTE2(a,b)

#define TP_AUDIO_V2
#define SVS_16_ULTRA_SB
//#define SVS_16_ULTRA_PB
//#define SVS_16_ULTRA_PC
//#define CES_2016_SWS_002_SUB

#ifdef SVS_16_ULTRA_SB
#define TP_PRODUCT  "SVS16_ULTRA_SB"
#elif defined(SVS_16_ULTRA_PB)
#define TP_PRODUCT  "SVS16_ULTRA_PB"
#elif defined(SVS_16_ULTRA_PC)
#define TP_PRODUCT  "SVS16_ULTRA_PC"
#endif

/// SW version, i.e. swv4.1.13
#define SW_MAJOR_VERSION   4
#define SW_MINOR_VERSION1  1
#define SW_MINOR_VERSION2  13
#define PRODUCT_VERSION_MCU     STRINGIFY(PASTE(SW_MAJOR_VERSION.SW_MINOR_VERSION1, SW_MINOR_VERSION2))

/// DSP EQ version, i.e. EQ3.60
#define DSP_MAJOR_VERSION   3
#define DSP_MINOR_VERSION1  6
#define DSP_MINOR_VERSION2  0
#define PRODUCT_VERSION_DSP     STRINGIFY(PASTE(DSP_MAJOR_VERSION.DSP_MINOR_VERSION1, DSP_MINOR_VERSION2))

#define SOFTWARE_VERSION_STRING TP_PRODUCT PRODUCT_VERSION_MCU

#define STM32F071CB

#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (12288000)

//#define BSP_TICKS_PER_SEC
#define HAS_AUDIO_CONTROL
#define HAS_KEYS
#define HAS_ADC_KEY
#define HAS_INFRARED_KEY

#define HAS_DEBUG
#define HAS_BLE_CTRL

#define HAS_SETTING
#define SETTING_HAS_ROM_DATA
#define HAS_DISPLAY
#define HAS_MENU

#define ENABLE_SETTING_UPDATE_PUBLISH // enabling publish SETTING_UPDATE_SIG after each Setting_Set() call

#define EXTERNAL_AND_INTERNAL_HIGH_SPEED_CLOCK

/**@brief Enable NVM feature
 *   NVM is non-volatile-memory, which is the flash inside MCU, need MCU to support this
 */
#define HAS_NVM

#define HAS_DELEGATES

#define NUM_OF_UART         2

#define MAX_VOLUME          60      /* total of 60 vol. variations */

/********* Menu setting **********/
#define DEFAULT_TIMEOUT_SEC 10      /* 10 seconds */

#define VALUE_MAGNIFICATION 10
/********* End of menu setting **********/

#define AUDIO_MULTI_SOURCE

/* Screen settings */
//#define HAS_SCREEN_DIM_CTRL

#define DEFAULT_VOLUME              40

#define NUM_OF_SMALL_EVENTS         25
#define SIZE_OF_SMALL_EVENTS        20

#define NUM_OF_MEDIUM_EVENTS        25
#define SIZE_OF_MEDIUM_EVENTS       32

#define NUM_OF_LARGE_EVENTS         30
#define SIZE_OF_LARGE_EVENTS        68

#define AUDIO_SRV_EVENT_Q_SIZE      20
#define SETT_SRV_EVENT_Q_SIZE       10
#define DBG_SRV_EVENT_Q_SIZE        10
#define DBG_SRV_TX_BUF_Q_SIZE       5
#define DISPLAY_SRV_EVENT_Q_SIZE    20
#define KEY_SRV_EVENT_Q_SIZE        10

#define HAS_STRIPPED_OUT_DBG_MSG
#define HAS_APP_PRIVATE_SIG

#endif  // PRODUCT_CONFIG

