/**
*  @file      AppPrivSig.Config
*  @brief     Example config data for app private signals
*  @author    Dmitry Abdulov
*  @date      17-Nov-2015
*  @copyright Tymphany Ltd.
*/
#ifdef HAS_APP_PRIVATE_SIG

#include "DebugSSrv.h"
#define MAINAPP_FAST_BOOT_SIG   (MAX_SIG + 1)

#define APP_PRIV_SIG_NUM_MAX	1


const tAppSigMapTable  app_priv_sig_map[APP_PRIV_SIG_NUM_MAX] =
{
    {MAINAPP_FAST_BOOT_SIG, REQ_EVT_SIG},
};

#endif