
#ifndef AZINTEGTOUCHKEYDRV_CONFIG
#define AZINTEGTOUCHKEYDRV_CONFIG

/*
************common info****************
*/

#define LONG_PRESS_TIME            1500  /* ms */ 
#define VERY_LONG_PRESS_TIME       5000 /* ms */


/*
******************************************************************************
******************************IQS263 INIT MACRO*******************************
******************************************************************************
*/

/* Used to switch to Projected mode */
#define IQS333_SYSTEM_FLAGS_VAL                       0x00

/*
* Change the Multipliers (BASE value) of each channel
* Please note that these values are affected by the Auto ATI routine and should
* only be written in the case of a specific setup.  Alternatively Auto ATI
* should be manually called after writing these settings.
* This is applicable for both Multipliers and Compensation.
*/
#define IQS333_MULTIPLIERS_CH0                        0x2B
#define IQS333_MULTIPLIERS_CH1                        0x8A
#define IQS333_MULTIPLIERS_CH2                        0x8A
#define IQS333_MULTIPLIERS_CH3                        0x87
#define IQS333_MULTIPLIERS_CH4                        0x87
#define IQS333_MULTIPLIERS_CH5                        0x00
#define IQS333_MULTIPLIERS_CH6                        0x00
#define IQS333_MULTIPLIERS_CH7                        0x00
#define IQS333_MULTIPLIERS_CH8                        0x00
#define IQS333_MULTIPLIERS_CH9                        0x00

/*
* Change the Compensation for each channel
* Please note that these values are affected by the Auto ATI routine and should
* only be written in the case of a specific setup.  Alternatively Auto ATI
* should be manually called after writing these settings.
* This is applicable for both Multipliers and Compensation.
*/
#define IQS333_COMPENSATION_CH0                    0x41
#define IQS333_COMPENSATION_CH1                    0xA0
#define IQS333_COMPENSATION_CH2                    0xA1
#define IQS333_COMPENSATION_CH3                    0x9A
#define IQS333_COMPENSATION_CH4                    0xA1
#define IQS333_COMPENSATION_CH5                    0x00
#define IQS333_COMPENSATION_CH6                    0x00
#define IQS333_COMPENSATION_CH7                    0x00
#define IQS333_COMPENSATION_CH8                    0x00
#define IQS333_COMPENSATION_CH9                    0x00

/* Change the Prox Settings or setup of the IQS333 */
#define IQS333_PROXSETTINGS0_VAL                    0x06
#define IQS333_PROXSETTINGS1_VAL                    0x00
#define IQS333_PROXSETTINGS2_VAL                    0x00
#define IQS333_PROXSETTINGS3_VAL                    0x80
#define IQS333_PROXSETTINGS4_VAL                    0x07
#define IQS333_PROXSETTINGS5_VAL                    0x7F

/* Change the Thresholds for each channel */
#define IQS333_PROX_THRESHOLD                         0x03
#define IQS333_TOUCH_THRESHOLD_CH1                    0x03
#define IQS333_TOUCH_THRESHOLD_CH2                    0x03
#define IQS333_TOUCH_THRESHOLD_CH3                    0x03
#define IQS333_TOUCH_THRESHOLD_CH4                    0x03
#define IQS333_TOUCH_THRESHOLD_CH5                    0x03
#define IQS333_TOUCH_THRESHOLD_CH6                    0x03
#define IQS333_TOUCH_THRESHOLD_CH7                    0x03
#define IQS333_TOUCH_THRESHOLD_CH8                    0x03
#define IQS333_TOUCH_THRESHOLD_CH9                    0x03

/* Change the Timing settings */
#define IQS333_FILTER_HALT                            0x30
#define IQS333_POWER_MODE                            0x00
#define IQS333_TIMEOUT_PERIOD                        0x10
#define IQS333_CH0_ACF_BETA                        0x02
#define IQS333_CH0_9_ACF_BET1                        0x02

/* Change ATI Target values  */
#define IQS333_ATI_TARGET_CH0                        0x80
#define IQS333_ATI_TARGET_CH0_9                    0x80

/* Change PWM settings  */
#define IQS333_PWM_0                                0x00
#define IQS333_PWM_1                                0x00
#define IQS333_PWM_2                                0x00
#define IQS333_PWM_3                                0x00
#define IQS333_PWM_4                                0x00
#define IQS333_PWM_5                                0x00
#define IQS333_PWM_6                                0x00
#define IQS333_PWM_7                                0x00

/* Change PWM limits and Speed */
#define IQS333_PWM_LIMITS                           0x00
#define IQS333_PWM_SPEED                            0x00

/* Set Active Channels */
#define IQS333_ACTIVE_CH0                           0x7F
#define IQS333_ACTIVE_CH1                           0x00

/* Set Buzzer Output */
#define IQS333_BUZZER_VAL                           0x00

/* Number of Active channels on IQS333 */
#define IQS333_NR_OF_ACTIVE_CHANNELS            7        // 6 active channels in this setup + Prox
#define IQS333_CH_WHEEL_1                       0x0E
#define IQS333_CH_WHEEL_2                       0x70
#define IQS333_DETA                             60       //used to distinguish between touch and swipe
#define IQS333_VOL_THRE                         180      //used to control the volume change speed
#define IQS333_JUMP                             1500     //used to filter the jump value


/*
******************************************************************************
******************************IQS263 INIT MACRO*******************************
******************************************************************************
*/
/* Used to switch Projected mode & set Global Filter Halt (0x01 Byte1) */
#define IQS263_SYSTEM_FLAGS_VAL					    0x00

/* Enable / Disable system events (0x01 Byte2)*/
#define IQS263_SYSTEM_EVENTS_VAL					0x00

/* Change the Multipliers & Base value (0x07 in this order) */
#define IQS263_MULTIPLIERS_CH0						0x08//0x19 - default
#define IQS263_MULTIPLIERS_CH1						0x08//0x08 - default
#define IQS263_MULTIPLIERS_CH2						0x08//0x08 - default
#define IQS263_MULTIPLIERS_CH3						0x08//0x08 - default
#define IQS263_BASE_VAL						        0x00//0x08//0x44 - default

/* Change the Compensation for each channel (0x08 in this order) */
#define IQS263_COMPENSATION_CH0					0x51
#define IQS263_COMPENSATION_CH1					0x49
#define IQS263_COMPENSATION_CH2					0x4A
#define IQS263_COMPENSATION_CH3					0x49

/* Change the Prox Settings or setup of the IQS263 (0x09 in this order) */
#define IQS263_PROXSETTINGS0_VAL					0x00
#define IQS263_PROXSETTINGS1_VAL					0x19
#define IQS263_PROXSETTINGS2_VAL					0x00
#define IQS263_PROXSETTINGS3_VAL					0x00
#define IQS263_EVENT_MASK_VAL						0x00

/* Change the Thresholds for each channel (0x0A in this order) */
#define IQS263_PROX_THRESHOLD						0x02
#define IQS263_TOUCH_THRESHOLD_CH1					0x02
#define IQS263_TOUCH_THRESHOLD_CH2					0x02
#define IQS263_TOUCH_THRESHOLD_CH3					0x02
#define IQS263_MOVEMENT_THRESHOLD					0x03
#define IQS263_RESEED_BLOCK						    0x00
#define IQS263_HALT_TIME						    0x14
#define IQS263_I2C_TIMEOUT						    0x04

/* Change the Timing settings (0x0B in this order) */
#define IQS263_LOW_POWER						0x00
#define IQS263_ATI_TARGET_TOUCH					0x64
#define IQS263_ATI_TARGET_PROX				    0x64
#define IQS263_TAP_TIMER						0x05
#define IQS263_FLICK_TIMER						0x51
#define IQS263_FLICK_THRESHOLD				    0x33

/* Set Active Channels (0x0D) */
#define IQS263_ACTIVE_CHS						0x0F

#define NR_OF_263_ACTIVE_CHANNELS      4
#define IQS263_CH_WHEEL                0x0E
#define IQS263_DETA                    25        //used to distinguish between touch and swipe
#define IQS263_VOL_THRE                40        //used to control the volume change speed

#define IQS263_JUMP                    200       //used to filter the jump value


#endif    /* IQS333_INIT_H */

