/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

#ifndef POWERDRV_LIGHT_CONFIG
#define POWERDRV_LIGHT_CONFIG


/****************************************************************/
/*****************MACRO DEFINITION******************************/
/***************************************************************/
#define     INITIAL_STEP             0


/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4096

#define DC_ADC_TO_mVOLT(adc)  ((int16) (adc* ADC_REFERENCE_mVOLT/ADC_PRECISION \
                                *(DC_RESISTOR2+DC_RESISTOR1)/DC_RESISTOR1))

#define POWER_STAGE1_DELAY (100)
#define POWER_STAGE2_DELAY (100)
#define POWER_STAGE3_DELAY (200)
#define POWER_STAGE4_DELAY (50)
#define POWER_STAGE5_DELAY (50)


/****************************************************************/
/*** **************MACRO DEFINITION********************************/
/***************************************************************/
#define     EXPANDER_RST_N       GPIO_OUT_IOEXP_RST //RESET ,PA8
#define     EXPANDER_RST_LOW(x)  GpioDrv_ClearBit(&(x),GPIO_OUT_IOEXP_RST)
#define     EXPANDER_RST_HIGH(x) GpioDrv_SetBit(&(x),GPIO_OUT_IOEXP_RST)

#endif /* #ifdef POWERDRV_LIGHT_CONFIG */

