/**
*  @file      PowerDrv.cofig
*  @brief     Config data for power driver moving the defines make it as project specific file
*  @author    Colin Chen
*  @date      23-Nov-2017
*  @copyright Tymphany Ltd.
*/
#ifndef POWERDRV_CONFIG
#define POWERDRV_CONFIG


typedef enum _ePowerGetId
{
    POWER_GET_ID_CHARGER_STAT = 0,
    POWER_GET_ID_BATT_TOTAL_VOL,

    POWER_GET_ID_MAX
} ePowerGetId;

typedef enum _ePowerSetId
{
    POWER_SET_ID_FUEL_GAUGE_SHUT_DOWN= 0,
    POWER_SET_ID_OVERHEAT,
    POWER_SET_ID_CHARGER_ON,
    POWER_SET_ID_SLOW_CHARGER,
    POWER_SET_ID_MAX
} ePowerSetId;

#endif

