
#include "memory_config.h"

#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               2048        // # of 32-bit Instructions per Page
#define SETTING_SAVE_MS         5000
#define IDLE_TIMEOUT_MS         3000
#define TIMER_PERIOD_MS         1000


typedef struct tSettingEntry
{
    uint32_t    audio_source;
    uint32_t    vol_level;
    uint32_t    a2b_mode;
    uint32_t    enter_dfu;
    uint32_t    type_no;
    uint32_t    item_no;
    uint32_t    serial_no;
    uint32_t    hw_ver;
    uint32_t    btl_ver;
    uint32_t    app_ver;
    uint32_t    dsp_ver;
    uint32_t    ntc_info;
}tSettingEntry;

static tSettingEntry setting;

static tSettingDatabase settingDB[SETID_MAX] =
{
    { &setting.audio_source,        sizeof(setting.audio_source),           SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.vol_level,           sizeof(setting.vol_level),              SETTING_ATTR_VALID },
    { &setting.a2b_mode,            sizeof(setting.a2b_mode),               SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.enter_dfu,           sizeof(setting.enter_dfu),              SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.type_no,             sizeof(setting.type_no),                SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.item_no,             sizeof(setting.item_no),                SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.serial_no,           sizeof(setting.serial_no),              SETTING_ATTR_VALID | SETTING_ATTR_NVM },
    { &setting.hw_ver,              sizeof(setting.hw_ver),                 SETTING_ATTR_VALID },
    { &setting.btl_ver,             sizeof(setting.btl_ver),                SETTING_ATTR_VALID },
    { &setting.app_ver,             sizeof(setting.app_ver),                SETTING_ATTR_VALID },
    { &setting.dsp_ver,             sizeof(setting.dsp_ver),                SETTING_ATTR_VALID },
    { &setting.ntc_info,            sizeof(setting.ntc_info),               SETTING_ATTR_VALID },
};

static const tSettingRomMap settingRomMap[] =
{
    { SETID_AUDIO_SOURCE,       (SETT_PAGE_ROM_ADDR)  },
    { SETID_A2B_MODE,           (SETT_PAGE_ROM_ADDR + 4)  },
    { SETID_TYPE_NO,            (SETT_PAGE_ROM_ADDR + 8)  },
    { SETID_ITEM_NO,            (SETT_PAGE_ROM_ADDR + 12)  },
    { SETID_SERIAL_NO,          (SETT_PAGE_ROM_ADDR + 16)  },
    { SETID_ENTER_DFU,          (SETT_PAGE_ROM_ADDR+ENTER_DFU_FLAG_OFFSET)  },
};

