
/** @defgroup powerConfigGroup  PowerConfig
*  @brief      The config data for power
*  @author   Johnny Fan
*  @note      iBT150
*  @date      26-Feb-2014
*  @copyright Tymphany Ltd. 
* 
* @{
*/

#include "PowerSrv.h"
#include "product.config"

/* the time (ms) per timeout signal */
#define POWER_SRV_TIMEOUT_IN_MS  100

#define POWER_DRIVER_UPDATE_INTERVAL_MS  30*1000 // 30sec

/** @}*/ //endof Power Config group for doxygen

