/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

#include "limits.h" //UINT_MAX
#include "deviceTypes.h"


#ifndef POWERDRV_LIGHT_CONFIG
#define POWERDRV_LIGHT_CONFIG


/***************************************************************************
* MACRO DEFINITION
***************************************************************************/
#define     INITIAL_STEP     0


/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4096


/***************************************************************************
 * DC input Config
 ***************************************************************************/
#define CHARGER_MAX_mVOLT    17500//  15V +15%
#define CHARGER_MIN_mVOLT    12750 // 15V -15%

#define POWER_STAGE1_DELAY (10)


/***************************************************************************
 * GPIO Operation
 ***************************************************************************/
#define  IS_DC_IN(x)             GpioDrv_ReadBit(&(x),GPIO_IN_DC_IN)


#endif /* #ifdef POWERDRV_LIGHT_CONFIG */