#ifndef PRODUCT_CONFIG
#define PRODUCT_CONFIG

#define FENDER_ORANGE

#define HW_ES2

/******************************** version message **************************/
#define PRODUCT_VERSION_MCU       "5.0.2"

#define PRODUCT_DSP_VERSION       "3.0.5"       /* 3.0.5 -- Fender_Newport_JT_21Nov16.dspproj */
/******************************** version message **************************/

#define RELEASE_VERSION
#ifdef RELEASE_VERSION
#define NDEBUG
#endif
#define MCU_FW_SELF_CHECKING
#define SHORT_PRESS_PAIRING

//#define UNIT_TEST_ENABLE

/******************************** volume **************************/
/* volume, treble, bass setting */
#define MAX_VOLUME_STEPS	30
#define DEFAULT_VOLUME  	12
#define DEFAULT_AUDIO_CUE_VOLUME        (10)
#define MAX_BASS_STEPS		11

#define MAX_TREBLE_STEPS	11

/// The max volume when system power is low
#define LOW_POWER_MAX_VOLUME 15
/******************************** volume **************************/

/******************************** Bluetooth **************************/
#define BLUETOOTH_V2
#define HAS_BLUETOOTH
#define HAS_BT_RESET_PIN
#define HAS_BT_AUDIO_CUE
#define HAS_FIX_VOL_AUDIO_CUE
#define HAS_BT_SEQ_CONTROL
/******************************** Bluetooth **************************/

/******************************** audio **************************/
#define HAS_AUTO_STANDBY
#define AUTO_STANDBY_TIMEOUT_CNT    (20*60*100)  // 20minute * 60second / 0.01 second(100ms)
#define HAS_AUDIO_CONTROL
#define HAS_ADAU1761_DSP
#define TP_AUDIO_V2
#define DSP_TUNING_ON_THE_FLY
#define DSP_TREBLE_BASS_TUNING
#define FENDER_ORANGE_DSP_FLOW

// the following is for WATERMELON board
//#define FENDER_WATERMELON_DSP_FLOW
//#define HAS_SHAPE_EQ_SWITCH
//#define HAS_TAS5760_AMP
//#define HAS_TPA3118_AMP

// add ORANGE board compile option here and remove the above watermelon option
#define HAS_SSM3582_AMP_HWI2C
#define HAS_BOOST_ENABLE
#define HAS_SSM3582_AMP_OUTPUT
/******************************** audio **************************/

/******************************** key **************************/
#define HAS_KEYS
#define HAS_LINEAR_ADC_KNOB_KEY
//#define KNOB_KEY_INVERT_VALUE
#define HAS_GPIO_KEY
#define KEY_SRV_HAS_DEBUG
#define HAS_COMB_KEY
#define HAS_POWER_SWITCH_KEY
#define POWER_OFF_TO_ON_DEBOUNCE
/******************************** key **************************/

/******************************** system control **************************/
#define HAS_SYSTEM_CONTROL
#define HAS_PERIODIC_SERVER_TASK
#define HAS_HW_VERSION_TAG
#define SYSTEM_RESTART_AFTER_FACTORY_RESET
/******************************** system control **************************/

/******************************** power **************************/
#define HAS_DSP_EN
#define HAS_DC_IN
#define HAS_EXT_CHARGE_CTRL
#define HAS_BAT_CHARGE
#define HAS_BAT_CHARGE_STATUS
#define HAS_BATTERY_DETECT
#define HAS_BATTERY_NTC
#define HAS_MCU_SLEEP
/******************************** power **************************/

/******************************** debug & rom **************************/
#define HAS_DEBUG
#define HAS_SETTING
#define SETTING_HAS_ROM_DATA
#define HAS_NVM
#define TP_MONITOR_ON_OFF_CONTROL
#define TP_MONITOR_HAS_PRIVATE_SIGNAL

/******************************** debug & rom **************************/

/******************************** led **************************/
#define HAS_GPIO_LED
/******************************** led **************************/

/******************************** MCU & peripheral **************************/
///define the number of UART system is using
#define NUM_OF_UART     1
//#define HAS_INDEPENDED_WATCHDOG
/******************************** MCU peripheral **************************/

/******************************** OSC **************************/
#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (12288000)
#define EXTERNAL_AND_INTERNAL_HIGH_SPEED_CLOCK
/******************************** OSC **************************/

/******************************** QP setting **************************/
#define NUM_OF_SMALL_EVENTS         20
#define SIZE_OF_SMALL_EVENTS        8

#define NUM_OF_MEDIUM_EVENTS        20
#define SIZE_OF_MEDIUM_EVENTS       16

#define NUM_OF_LARGE_EVENTS         16
#define SIZE_OF_LARGE_EVENTS        32

#define AUDIO_SRV_EVENT_Q_SIZE      10
#define SETT_SRV_EVENT_Q_SIZE       6
#define DBG_SRV_EVENT_Q_SIZE        10
#define DBG_SRV_TX_BUF_Q_SIZE      5
#define KEY_SRV_EVENT_Q_SIZE        10
#define BT_SRV_EVENT_Q_SIZE	        5
#define POWER_SRV_EVENT_Q_SIZE		5
/******************************** QP setting **************************/

/******************************** stack **************************/
#define HAS_STACK_OVERFLOW_LOW_LEVEL_CHECK
/******************************** stack **************************/

#define BRINGUP_printf		printf
#define ALWAYS_printf		printf

#define SYS_TICKS_PER_SEC       1000U
#define GET_TICKS_IN_MS(x)      (x * SYS_TICKS_PER_SEC / 1000)

#endif  // PRODUCT_CONFIG

