/**
*  @file      IR.Cofig
*  @brief     Config data for IR controller
*  @author    Bob.Xu
*  @date      29-Dec-2014
*  @copyright Tymphany Ltd.
*/

#define POWER_IR_CODE         0X020240BF
#define VOL_DOWN_IR_CODE      0X020210EF
#define VOL_UP_IR_CODE        0X020250AF
#define PREV_IR_CODE          0X0202B04f
#define NEXT_IR_CODE          0X0202A857
#define ENTER_IR_CODE         0X020248B7
#define BACK_IR_CODE          0X020208F7
#define MUTE_IR_CODE          0X0202906F
#define PRESET1_IR_CODE       0X020220DF
#define PRESET2_IR_CODE       0X0202A05F
#define PRESET3_IR_CODE       0X0202609F

static tIrKeyIdMapCode keyIdIrCodeMap[NUM_OF_IR_KEY] = 
{
    {POWER_KEY,         POWER_IR_CODE},
    {VOLUME_UP_KEY,     VOL_UP_IR_CODE},
    {VOLUME_DOWN_KEY,   VOL_DOWN_IR_CODE},
    {PREV_KEY,          PREV_IR_CODE},
    {NEXT_KEY,          NEXT_IR_CODE},
    {ENTER_KEY,         ENTER_IR_CODE},
    {RETURN_KEY,        BACK_IR_CODE},
    {PRESET_KEY_1_LOAD, PRESET1_IR_CODE},
    {PRESET_KEY_2_LOAD, PRESET2_IR_CODE},
    {PRESET_KEY_3_LOAD, PRESET3_IR_CODE},
    {MUTE_KEY,          MUTE_IR_CODE},
};