#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               1024        // # of 32-bit Instructions per Page
#define SETTING_SAVE_MS         5000
#define IDLE_TIMEOUT_MS         3000
#define TIMER_PERIOD_MS         1000

typedef struct tSettingEntry
{
    uint8   vol_level;              /**< SETID_VOLUME       */
    int8    bass_level;              /**< SETID_BASS       */
    int8    treble_level;              /**< SETID_TREBLE       */
}tSettingEntry;


static tSettingEntry setting;

static tSettingDatabase settingDB[SETID_MAX] =
{
    { &setting.vol_level,    sizeof(setting.vol_level),   SETTING_ATTR_VALID},
    { &setting.bass_level,   sizeof(setting.bass_level),  SETTING_ATTR_VALID},
    { &setting.treble_level, sizeof(setting.treble_level),SETTING_ATTR_VALID},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
    { NULL,                 0,                          NULL},
};


static const tSettingRomMap settingRomMap[] =
{
    { SETID_DSP_INIT_DATA,      0x0801C000  },
    { SETID_DSP_TUNABLE_PART,   0x0801FC00  },  
};
