#ifndef BMI160DRV_CONFIG
#define BMI160DRV_CONFIG

#define MAX_FLOOR_DEGREE (20)
#define MIN_FLOOR_DEGREE (-20)
#define MAX_WALL_DEGREE (5)
#define MIN_WALL_DEGREE (-5)
#define BMI160_INVALID_DEGREE (361)

/* BMI160 dynamic calibration offset */
#define BMI160_DYNAMIC_CAL_SYSTEM_RUNNING_MS_TIMEOUT 5000

// Must same as TILT_INVALID_DEGREE_RANGE
#define BMI160_MAX_DYNAMIC_CALIBRATION_FLOOR_MODE_OFFSET (5)
#define BMI160_MIN_DYNAMIC_CALIBRATION_FLOOR_MODE_OFFSET (-5)

#define BMI160_MAX_DYNAMIC_CALIBRATION_WALL_MODE_OFFSET (2)
#define BMI160_MIN_DYNAMIC_CALIBRATION_WALL_MODE_OFFSET (-2)

#define BMI160_MODE_SWITCH_G_X_POS_VALUE (700)
#define BMI160_MODE_SWITCH_G_X_NEG_VALUE (-700)
#define BMI160_LYING_MODE_G_Z_POS_VALUE (900)
#define BMI160_LYING_MODE_G_Z_NEG_VALUE (-900)
#define BMI160_CALIBRATION_MAX_VALUE (6)
#define BMI160_CALIBRATION_MIN_VALUE (-6)
#endif