/**
*  @file      Ldc2114.Config
*  @brief     Config data for LED patterns, modified according to UI
*  @author    Alexey
*  @date      04-Jan-2017
*  @copyright Tymphany Ltd.
*/

/***************************************************************************
 * led Pattern Config Data,

 * @param  periodTimeInMs   the repeated period time in ms
 * @para   onTimeInMs       the time of turning on LED (duty cycle),
 *                          it's only valid in Blink style
 *                          when onTimeInMs == periodTimeInMs, it will light up solid
 * @para   repeatNumber     the number of repeating times,
 *                          set to ALWAYS_REPEAT if it's always repeated
 * @para   color            the color of LED
 * para    nextPattern      It's used to combine patterns. When one pattern is shown once,
 *                          led_srv will jump to show the next pattern which is defined
 *                          in this parameter. Set it to PAT_MAX_NUMBER to only show one pattern
 *                          check below "SYS_ON_CRITICAL_BAT_PAT" for example
 * @para   style            the style we need, defined in ePatStyle
 ***************************************************************************/
#define STATUS_ADDR              (0x00)
#define OUT_ADDR                 (0x01)
#define DATA0_LSB_ADDR           (0x02)
#define DATA0_MSB_ADDR           (0x03)
#define DATA1_LSB_ADDR           (0x04)
#define DATA1_MSB_ADDR           (0x05)
#define DATA2_LSB_ADDR           (0x06)
#define DATA2_MSB_ADDR           (0x07)
#define DATA3_LSB_ADDR           (0x08)
#define DATA3_MSB_ADDR           (0x09)
#define RESET_ADDR               (0x0A)
#define EN_ADDR                  (0x0C)
#define NP_SCAN_RATE_ADDR        (0x0D)
#define GAIN0_ADDR               (0x0E)
#define LP_SCAN_RATE_ADDR        (0x0F)
#define GAIN1_ADDR               (0x10)
#define INTPOL_ADDR              (0x11)
#define GAIN2_ADDR               (0x12)
#define LP_BASE_INC_ADDR         (0x13)
#define GAIN3_ADDR               (0x14)
#define NP_BASE_INC_ADDR         (0x15)
#define MAXWIN_ADDR              (0x16)
#define LC_DIVIDER_ADDR          (0x17)
#define HYST_ADDR                (0x18)
#define TWIST_ADDR               (0x19)
#define COMMON_DEFORM_ADDR       (0x1A)
#define OPOL_ADDR                (0x1C)
#define CNTSC_ADDR               (0x1E)
#define SENSOR0_CONFIG_ADDR      (0x20)
#define SENSOR1_CONFIG_ADDR      (0x22)
#define SENSOR2_CONFIG_ADDR      (0x24)
#define FTF0_ADDR                (0x25)
#define SENSOR3_CONFIG_ADDR      (0x26)
#define FTF1_2_ADDR              (0x28)
#define FTF3_ADDR                (0x2B)
#define MANUFACTURER_ID_LSB_ADDR (0xFC)
#define MANUFACTURER_ID_MSB_ADDR (0xFD)
#define DEVICE_ID_LSB_ADDR       (0xFE)
#define DEVICE_ID_MSB_ADDR       (0xFF)

#define STATUS_DEFAULT_VALUE              (0x00)
#define OUT_DEFAULT_VALUE                 (0x00)
#define DATA0_LSB_DEFAULT_VALUE           (0x00)
#define DATA0_MSB_DEFAULT_VALUE           (0x00)
#define DATA1_LSB_DEFAULT_VALUE           (0x00)
#define DATA1_MSB_DEFAULT_VALUE           (0x00)
#define DATA2_LSB_DEFAULT_VALUE           (0x00)
#define DATA2_MSB_DEFAULT_VALUE           (0x00)
#define DATA3_LSB_DEFAULT_VALUE           (0x00)
#define DATA3_MSB_DEFAULT_VALUE           (0x00)
#define RESET_DEFAULT_VALUE               (0x00)
#define EN_DEFAULT_VALUE                  (0x1F)
#define NP_SCAN_RATE_DEFAULT_VALUE        (0x01)
#define GAIN0_DEFAULT_VALUE               (0x28)
#define LP_SCAN_RATE_DEFAULT_VALUE        (0x02)
#define GAIN1_DEFAULT_VALUE               (0x28)
#define INTPOL_DEFAULT_VALUE              (0x01)
#define GAIN2_DEFAULT_VALUE               (0x28)
#define LP_BASE_INC_DEFAULT_VALUE         (0x04)
#define GAIN3_DEFAULT_VALUE               (0x28)
#define NP_BASE_INC_DEFAULT_VALUE         (0x04)
#define MAXWIN_DEFAULT_VALUE              (0x00)
#define LC_DIVIDER_DEFAULT_VALUE          (0x03)
#define HYST_DEFAULT_VALUE                (0x08)
#define TWIST_DEFAULT_VALUE               (0x00)
#define COMMON_DEFORM_DEFAULT_VALUE       (0x00)
#define OPOL_DEFAULT_VALUE                (0x0F)
#define CNTSC_DEFAULT_VALUE               (0x55)
#define SENSOR0_CONFIG_DEFAULT_VALUE      (0x04)
#define SENSOR1_CONFIG_DEFAULT_VALUE      (0x04)
#define SENSOR2_CONFIG_DEFAULT_VALUE      (0x04)
#define FTF0_DEFAULT_VALUE                (0x00)
#define SENSOR3_CONFIG_DEFAULT_VALUE      (0x04)
#define FTF1_2_DEFAULT_VALUE              (0x00)
#define FTF3_DEFAULT_VALUE                (0x00)
#define MANUFACTURER_ID_LSB_DEFAULT_VALUE (0x49)
#define MANUFACTURER_ID_MSB_DEFAULT_VALUE (0x54)
#define DEVICE_ID_LSB_DEFAULT_VALUE       (0x00)
#define DEVICE_ID_MSB_DEFAULT_VALUE       (0x00)

#define STATUS_VALUE              (STATUS_DEFAULT_VALUE)
#define OUT_VALUE                 (OUT_DEFAULT_VALUE)
#define DATA0_LSB_VALUE           (DATA0_LSB_DEFAULT_VALUE)
#define DATA0_MSB_VALUE           (DATA0_MSB_DEFAULT_VALUE)
#define DATA1_LSB_VALUE           (DATA1_LSB_DEFAULT_VALUE)
#define DATA1_MSB_VALUE           (DATA1_MSB_DEFAULT_VALUE)
#define DATA2_LSB_VALUE           (DATA2_LSB_DEFAULT_VALUE)
#define DATA2_MSB_VALUE           (DATA2_MSB_DEFAULT_VALUE)
#define DATA3_LSB_VALUE           (DATA3_LSB_DEFAULT_VALUE)
#define DATA3_MSB_VALUE           (DATA3_MSB_DEFAULT_VALUE)
#define RESET_VALUE               (RESET_DEFAULT_VALUE)
#define EN_VALUE                  0xFF//(EN_DEFAULT_VALUE)
#define NP_SCAN_RATE_VALUE        (NP_SCAN_RATE_DEFAULT_VALUE)
#define GAIN0_VALUE               (GAIN0_DEFAULT_VALUE)
#define LP_SCAN_RATE_VALUE        (LP_SCAN_RATE_DEFAULT_VALUE)
#define GAIN1_VALUE               (GAIN1_DEFAULT_VALUE)
#define INTPOL_VALUE              (INTPOL_DEFAULT_VALUE)
#define GAIN2_VALUE               (GAIN2_DEFAULT_VALUE)
#define LP_BASE_INC_VALUE         (LP_BASE_INC_DEFAULT_VALUE)
#define GAIN3_VALUE               (GAIN3_DEFAULT_VALUE)
#define NP_BASE_INC_VALUE         (NP_BASE_INC_DEFAULT_VALUE)
#define MAXWIN_VALUE              0x0F//(MAXWIN_DEFAULT_VALUE)
#define LC_DIVIDER_VALUE          (LC_DIVIDER_DEFAULT_VALUE)
#define HYST_VALUE                (HYST_DEFAULT_VALUE)
#define TWIST_VALUE               (TWIST_DEFAULT_VALUE)
#define COMMON_DEFORM_VALUE       0xFF//(COMMON_DEFORM_DEFAULT_VALUE)
#define OPOL_VALUE                (OPOL_DEFAULT_VALUE)
#define CNTSC_VALUE               (CNTSC_DEFAULT_VALUE)
#define SENSOR0_CONFIG_VALUE      (SENSOR0_CONFIG_DEFAULT_VALUE)
#define SENSOR1_CONFIG_VALUE      (SENSOR1_CONFIG_DEFAULT_VALUE)
#define SENSOR2_CONFIG_VALUE      (SENSOR2_CONFIG_DEFAULT_VALUE)
#define FTF0_VALUE                (FTF0_DEFAULT_VALUE)
#define SENSOR3_CONFIG_VALUE      (SENSOR3_CONFIG_DEFAULT_VALUE)
#define FTF1_2_VALUE              (FTF1_2_DEFAULT_VALUE)
#define FTF3_VALUE                (FTF3_DEFAULT_VALUE)
#define MANUFACTURER_ID_LSB_VALUE (MANUFACTURER_ID_LSB_DEFAULT_VALUE)
#define MANUFACTURER_ID_MSB_VALUE (MANUFACTURER_ID_MSB_DEFAULT_VALUE)
#define DEVICE_ID_LSB_VALUE       (DEVICE_ID_LSB_DEFAULT_VALUE)
#define DEVICE_ID_MSB_VALUE       (DEVICE_ID_MSB_DEFAULT_VALUE)

#define RESET_FULL_RESET_VALUE             (0x10)
#define RESET_RESET_REG_CONFIG_START_VALUE (0x01)
#define RESET_RESET_REG_CONFIG_DONE_VALUE  (0x00)
#define STATUS_CHIP_READY_VALUE            (0x40)
#define STATUS_READY_TO_WRITE              (0x20)
#define REGISTER_DATA_SIZE                 (0x01)

#define INVALID_GAIN_VALUE          (0xFFFFFFFF)
#define VALID_LDC_REG_VALUE    (0x1DCDA7A5)   //magic number of ldc datas

#define MASTER_KEY_ID                      (0)

