/**
*  @file      NvmDrv.Cofig
*  @brief     Config data
*  @author    Alexey
*  @date      19-Nov-2015
*  @copyright Tymphany Ltd.
*/

#define CBUF_BUFFERS_NUM     (2)

#define CBUF_ADDR_0          (0x0800C000)
#define CBUF_DATA_SLOT_LEN_0 (4)

#define CBUF_ADDR_1          (0x0800C800)
#define CBUF_DATA_SLOT_LEN_1 (4)

#define CBUF_ADDR_2          (0x0800C800)
#define CBUF_DATA_SLOT_LEN_2 (4)

#define CBUF_ADDR_3          (0x0800CC00)
#define CBUF_DATA_SLOT_LEN_3 (4)

static tCyclicBufferPubConfig cycBufPubConf[CBUF_BUFFERS_NUM] =
{
    {
        .pageAddress  = CBUF_ADDR_0,
        .dataLength   = CBUF_DATA_SLOT_LEN_0,
    },
    {
        .pageAddress  = CBUF_ADDR_1,
        .dataLength   = CBUF_DATA_SLOT_LEN_1,
    }
};

