/**
*  @file      PowerDrv_light.cofig
*  @brief     Config data for power driver light
*  @author    Alexey
*  @date      08-Jun-2015
*  @copyright Tymphany Ltd.
*/

/****************************************************************/
/*** **************MACRO DEFINITION********************************/
/***************************************************************/

/*---------------------------------------------------------------*/

#define     INITIAL_STEP             0

/***************************************************************************
* ADC config for power
***************************************************************************/
#define ADC_REFERENCE_mVOLT  3300    // mcu voltage 3.3V
#define ADC_PRECISION        4096

#define POWER_STAGE1_DELAY (100)
#define POWER_STAGE2_DELAY (100)
#define POWER_STAGE3_DELAY (20)
#define POWER_STAGE4_DELAY (100)


#define BT_RESET_PIN_ENABLE

