#define SETTING_RESEND_LIMIT    3
#define PAGE_SIZE               2048        // # of 32-bit Instructions per Page
#define SETTING_SAVE_MS         5000
#define IDLE_TIMEOUT_MS         3000
#define TIMER_PERIOD_MS         1000

typedef struct tSettingEntry
{
    eAudioChannel channel;
    uint32_t		vol_level; 
    uint32_t		treble_level; 
    uint32_t		bass_level; 
    uint32_t    	bt_status;		// bt status for debug server
    uint32_t    	pdl_empty;		// BT pair list empty?
    uint32_t        shape_eq_on;
}tSettingEntry;

static tSettingEntry setting;

static tSettingDatabase settingDB[SETID_MAX] =
{
    { &setting.channel,          sizeof(setting.channel),           SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.vol_level,        sizeof(setting.vol_level),         SETTING_ATTR_VALID},
    { &setting.treble_level,     sizeof(setting.treble_level),      SETTING_ATTR_VALID},
    { &setting.bass_level,       sizeof(setting.bass_level),        SETTING_ATTR_VALID},
    { &setting.bt_status,     	 sizeof(setting.bt_status),     	SETTING_ATTR_VALID},
    { &setting.pdl_empty,     	 sizeof(setting.pdl_empty),         SETTING_ATTR_VALID | SETTING_ATTR_NVM},
    { &setting.shape_eq_on,      sizeof(setting.shape_eq_on),       SETTING_ATTR_VALID},
};

//#define SETT_PAGE_ROM_ADDR      0x0800F000
#define SETT_PAGE_ROM_ADDR      0x0800F800

static const tSettingRomMap settingRomMap[] =
{
    { SETID_AUDIO_SOURCE,       SETT_PAGE_ROM_ADDR  },
    { SETID_PDL_EMPTY,          (SETT_PAGE_ROM_ADDR+4)  },
};

