/**
*  @file      HdmiDrv.Config
*  @brief     Config data for HDMI Driver
*  @author    Neo Gan
*  @date      13-10-2017
*  @copyright Tymphany Ltd.
*/


/*
* Hdmi volume map table
*/

uint8_t HdmiVolMap[] =
{
0,
3, 6, 9, 12, 15,
18, 21, 24, 27, 30,
33, 36, 39, 42, 45,
48, 51, 54, 57, 60,
63, 66, 69, 72, 75,
78, 81, 84, 87, 90,
95,
100,
};

