/**
*  @file      IoExpanderDrv_9120.config
*  @brief     Configure data for the IO-Expander AW9120
*  @version   v0.1
*  @author    Alex.Li
*  @date      2017/8/17
*  @copyright Tymphany Ltd.
*/
//dummy file for A9 
#ifndef IOEXPANDERDRV_9120_CONFIG
#define IOEXPANDERDRV_9120_CONFIG

#include "pattern.h"
#include "IoExpanderDrv_9120_priv.h"

/*****************************************************************
 * RESET PIN CONFIG
 *****************************************************************/
#define IOEXPANDERDRV_RST_CONTROL

#ifdef IOEXPANDERDRV_RST_CONTROL

#define  EXPANDER_RST_N          GPIO_OUT_IOEXP_RST //RESET ,PA8
#define  EXPANDER_RST_LOW(x)     GpioDrv_ClearBit(&(x),GPIO_OUT_IOEXP_RST)
#define  EXPANDER_RST_HIGH(x)    GpioDrv_SetBit(&(x),GPIO_OUT_IOEXP_RST)

#endif

/*****************************************************************
 * ALWAYS TURN ON PIN CONFIG
 *****************************************************************/
#define IOEXPANDERDRV_HAS_ALWAYS_ON

#ifdef IOEXPANDERDRV_HAS_ALWAYS_ON

#define  EXPANDER_ALWAYS_ON_PINS           0x04000// pin 15
#define  EXPANDER_ALWAYS_ON_MAX_CURRENT    LedMaxC_7_0  //tested 7.0mA is min current for rotate working

#endif

/*****************************************************************
 * Pattern
 *****************************************************************/

#define AUTO_BLINK_NUM 20

tIoePattern_9120 autoBlinkPatt_aw9120[IOE_AUTO_PATT_MAX] =
{
    /* IOE_AUTO_PATT_STBL */
    {
        .led_mask      = LED_MASK_ALL_LEDS,
        .led_mode      = LedMode_AutoFade,
        .fade_in_step  = 0x7E,//fade in time 126 * 16ms = 2s
        .fade_out_step = 0x7E,//fade out time 126 * 16ms = 2s
        .interval      = 0x7E //interval time 126 * 16ms = 2s
    },

    /* IOE_AUTO_PATT_ERROR_RED */
    {
        .led_mask      = LED_MASK_ALL_LEDS,
        .led_mode      = LedMode_AutoBlink,
        .fade_in_step  = 0x00,//useless in autoblink mode
        .fade_out_step = 0x00,//useless in autoblink mode
        .interval      = 0x3E //interval time 62 * 16ms = 1s
    },
};

/*****************************************************************
 * Max current
 *****************************************************************/
#define LED_MAX_CURRENT LedMaxC_3_5

#endif
