#ifndef PRODUCT_CONFIG
#define PRODUCT_CONFIG

/******************************** volume **************************/
/* volume, treble, bass setting */
#define MAX_VOLUME_STEPS	30
#define DEFAULT_VOLUME  	12

#define MAX_BASS_STEPS		11

#define MAX_TREBLE_STEPS	11

/// The max volume when system power is low
#define LOW_POWER_MAX_VOLUME 15
/******************************** volume **************************/

/******************************** Bluetooth **************************/
#define BLUETOOTH_V2
#define HAS_BLUETOOTH
#define HAS_BT_RESET_PIN
#define HAS_BT_AUDIO_CUE
#define AUDIO_CUE_FIX_VOLUME        7
#define BT_LINK_LOST_WORKAROUND
#define BT_AVRCP_ENABLE
#define HAS_BT_SEQ_CONTROL
/******************************** Bluetooth **************************/

/******************************** audio **************************/
#define HAS_AUDIO_CONTROL
#define HAS_ADAU1761_DSP
#define LINE_IN_ENABLE_DIFFERENTIAL_PATH
#define TP_AUDIO_V2
#define DSP_TUNING_ON_THE_FLY
#define DSP_TREBLE_BASS_TUNING

//#define MUTE_AMP_WHEN_VOL_IS_0

// special bypass dsp flow for EE test
// #define DSP_BYPASS_MODE_ENABLE
/* use dsp to generate sine wave signal */
//#define DSP_FULL_POWER_OUTPUT

// use TPA3116 and swap the woofer and tweeter
#define WOOFER_TWEETER_SWAP_ENABLE

// the following is for WATERMELON board
#define FENDER_WATERMELON_DSP_FLOW
#define HAS_SHAPE_EQ_SWITCH
#define HAS_TAS5760_AMP
#define HAS_TPA3118_AMP

// add ORANGE board compile option here and remove the above watermelon option
//#define HAS_SSM3582_AMP_HWI2C
/******************************** audio **************************/

/******************************** key **************************/
#define HAS_KEYS
#define HAS_LINEAR_ADC_KNOB_KEY
#define KNOB_KEY_INVERT_VALUE
#define HAS_GPIO_KEY
#define HAS_COMB_KEY
#define HAS_POWER_SWITCH_KEY
/******************************** key **************************/

/******************************** system control **************************/
#define SYSTEM_RESTART_AFTER_FACTORY_RESET
#define HAS_SYSTEM_CONTROL
#define HAS_PERIODIC_SERVER_TASK
#define HAS_DC_IN_DETECT
#define HAS_AUTO_STANDBY
#define WAKE_UP_FROM_AUTO_STANDBY
#define HAS_I2C_BUS_DETECT
#define AUTO_STANDBY_TIMEOUT_CNT    (20*60*10)  // 20minute * 60second / 0.1 second(100ms)
#define POWER_OFF_TO_ON_DEBOUNCE
#define QUICKLY_POWER_DOWN
#define HAS_HW_VERSION_TAG
/******************************** system control **************************/

/******************************** debug & rom **************************/
#define HAS_DEBUG
#define HAS_SETTING
#define SETTING_HAS_ROM_DATA
#define HAS_NVM
#define HW_GPIO_DEBUG
#define TP_MONITOR_ON_OFF_CONTROL
#define TP_MONITOR_HAS_PRIVATE_SIGNAL
//#define KEY_SRV_HAS_DEBUG
/******************************** debug & rom **************************/

/******************************** led **************************/
#define HAS_GPIO_LED
/******************************** led **************************/

/******************************** MCU & peripheral **************************/
///define the number of UART system is using
#define NUM_OF_UART     1
#define HAS_I2C_ERROR_RECOVERY
#define MCU_FW_SELF_CHECKING

// for release version, add the IWDG function and NDEBUG
#define RELEASE_VERSION
#ifdef RELEASE_VERSION
#define HAS_IWDG
#endif
/******************************** MCU peripheral **************************/

/******************************** version message **************************/
#ifdef DSP_FULL_POWER_OUTPUT
#define PRODUCT_VERSION_MCU       "9.0.1"
#define PRODUCT_DSP_VERSION       "FullPower"
#else
#define PRODUCT_VERSION_MCU       "5.0.1"
#define PRODUCT_DSP_VERSION       "4.1"
#endif
/******************************** version message **************************/

/******************************** OSC **************************/
// ES1 board used the external OSD for dsp clock
//#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (12288000)
//#define EXTERNAL_AND_INTERNAL_HIGH_SPEED_CLOCK

// ES2 board has not the external OSC
#define EXTERNAL_HIGH_SPEED_OSC_FREQ        (8000000)
#define INTERNAL_HIGH_SPEED_CLOCK
/******************************** OSC **************************/

/******************************** QP setting **************************/
#define NUM_OF_SMALL_EVENTS         20
#define SIZE_OF_SMALL_EVENTS        8

#define NUM_OF_MEDIUM_EVENTS        20
#define SIZE_OF_MEDIUM_EVENTS       16

#define NUM_OF_LARGE_EVENTS         16
#define SIZE_OF_LARGE_EVENTS        32

#define AUDIO_SRV_EVENT_Q_SIZE      10
#define SETT_SRV_EVENT_Q_SIZE       6
#define DBG_SRV_EVENT_Q_SIZE        10
#define DBG_SRV_TX_BUF_Q_SIZE       5
#define KEY_SRV_EVENT_Q_SIZE        10
#define BT_SRV_EVENT_Q_SIZE	        5
#define POWER_SRV_EVENT_Q_SIZE		5
/******************************** QP setting **************************/

/******************************** stack **************************/
#define HAS_STACK_OVERFLOW_LOW_LEVEL_CHECK
/******************************** stack **************************/

#define BRINGUP_printf(...)
#define ALWAYS_printf		printf

#define SYS_TICKS_PER_SEC       1000U
#define GET_TICKS_IN_MS(x)      (x)
//#define GET_TICKS_IN_MS(x)      (x * SYS_TICKS_PER_SEC / 1000)

#endif  // PRODUCT_CONFIG

