/**
*  @file      DspDrv.conf
*  @brief     This file implements the DSP configuartion for the DSP ADAU1701 in CA16 project.
*  @modified  Edmond Sung
*  @date      2015-10-27
*  @copyright Tymphany Ltd.
*/

#ifndef DSPDRV_CONF
#define DSPDRV_CONF

#define DSP_SAMPLING_FREQ           (48000)
//#define DSP_INPUT_NUM               (4)

//#define VALUE_MAGNIFICATION         (10)

#define AUDIO_SOURCE_I2S        0x01
#define AUDIO_SOURCE_AUX        0x00

#define DSP_SOURCE_SWITCH_ADDR      MOD_SOURCESWITCH_SWSOURCESWITCH_STEREOSWSLEW_ADDR
#define DSP_SW_VOL_CONTROL_ADDR1    MOD_VOLUMECONTROL_SWVOLUME_ALG0_GAINS200ALG1GAINTARGET_ADDR
#define DSP_SW_VOL_CONTROL_ADDR2    MOD_VOLUMECONTROL_SWVOLUME_ALG1_GAINS200ALG2GAINTARGET_ADDR

#define DSP_EQ_BYPASS_SWITCH_ADDR1  MOD_BYPASS_NX4_1_ALG0_STAGE0_FOURCHANNELSWITCHNOSLEW_ADDR
#define DSP_EQ_BYPASS_SWITCH_ADDR2  MOD_BYPASS_NX4_1_ALG0_STAGE1_FOURCHANNELSWITCHNOSLEW_ADDR

#endif


