#ifndef DEBUG_SRV_CONFIG
#define DEBUG_SRV_CONFIG
#include "product.config"

#ifdef HAS_KEYS
#include "KeySrv.h"
#endif

#ifdef HAS_POWER_CONTROL
#include "PowerSrv.h"
#endif

#ifdef HAS_ALLPLAY
#include "AllPlaySrv.h"
#endif

#ifdef HAS_LEDS
#include "LedSrv.h"
#endif

#ifdef HAS_BLUETOOTH
#include "BluetoothSrv.h"
#endif

#ifdef HAS_AUDIO_CONTROL
#include "AudioSrv.h"
#endif

static uint16 dbg_sig_evt_size_map[] = {
#ifdef HAS_KEYS
  [KEY_DEBUG_REQ_SIG]               = sizeof(KeyDebugReqEvt),
  [KEY_DEBUG_RESP_SIG]              = sizeof(KeyDebugRespEvt),
  [KEY_STATE_SIG]                   = sizeof(KeyStateEvt),
#endif
#ifdef HAS_LEDS
  [LED_REQ_SIG]                     = sizeof(LedReqEvt),
  [LED_RESP_SIG]                    = sizeof(LedRespEvt),
#endif
#ifdef HAS_POWER_CONTROL
  [POWER_DEBUG_REQ_SIG]             = sizeof(PowerSrvDebugReqEvt),
  [POWER_DEBUG_RESP_SIG]            = sizeof(PowerSrvDebugRespEvt),
#endif
#ifdef HAS_ALLPLAY
  [ALLPLAY_STATE_SIG]               = sizeof(AllPlayStateIndEvt),
#endif
#ifdef HAS_BLUETOOTH
  [BT_REQ_SIG]                      = sizeof(BtCmdEvt),
  [BT_STATE_SIG]                    = sizeof(BtStatusEvt),
#endif
#ifdef HAS_AUDIO_CONTROL
  [AUDIO_REQ_SIG]                   = sizeof(AudioLineInjackDetecionEvt),
  [AUDIO_RESP_SIG]                  = sizeof(AudioLineInjackDetecionRespEvt),
#endif
  [DEBUG_SIG]                       = sizeof(tDebugPrintS),
};

#endif