/**
*  @file      AudioSrv.Config
*  @brief     Config data for audio server 
*  @project   iBT150 
*  @author    Johnny Fan
*  @date      15-Sep-2014
*  @copyright Tymphany Ltd.
*/

#include "AudioSrv.h"
#include "product.config"

/*****************************************************************
 * Config Data
 *****************************************************************/
/* the time (ms) per timeout signal */
#define AUDIO_SRV_TIMEOUT_IN_MS  10

/* measured in ms */
#define AUDIO_ACTIVE_LINE_IN_JACK_SCAN_TIME     1000
#define AUDIO_ACTIVE_MUSIC_DETECT_TIME          2000
#define AUDIO_AMP_TEMP_CHECK_TIME               2000
#define AUDIO_AMP_ERROR_CHECK_TIME              2000
#define AUDIO_ACTIVE_FIRST_DET_AFTER_PLUGGED_TIME  3000
#define AUDIO_ACTIVE_MUTE_DEBOUNCE_TIME         0 // Note: As mute debounce logic has been implemented in ASE-TK, so no need mute debounce in MCU.

/* Pin usage */
#define  AMP_WAKEUP(x)           GpioDrv_SetBit(&(x),GPIO_OUT_AMP_SDZ) //SDZ: Active LOW
#define  AMP_SHUTDOWN(x)         GpioDrv_ClearBit(&(x),GPIO_OUT_AMP_SDZ)

#define  AMP_MUTE(x)             GpioDrv_SetBit(&(x),GPIO_OUT_AMP_MUTE) //MUTE: Active LOW
#define  AMP_UNMUTE(x)           GpioDrv_ClearBit(&(x),GPIO_OUT_AMP_MUTE)

#define  SYSPWR_ENABLE(x)        GpioDrv_SetBit(&(x),GPIO_OUT_SYSPWR_ON) //Active HIGH
#define  SYSPWR_DISABLE(x)       GpioDrv_ClearBit(&(x),GPIO_OUT_SYSPWR_ON)
