/**
*  @file      MainApp.Config
*  @brief     Config data for MainApp
*  @author    Daniel Qin
*  @date      25-12-2015
*  @copyright Tymphany Ltd.
*/

/* Note: the member order of the array should be changed according to eLedIndID in pattern.h */
tLedInd ledIndList[] =
{
    /* Product status */
    {LED_MASK_ALL_LEDS,     PULSE_PAT_WHITE},       /* LED_IND_ID_POWERING_UP */
    {LED_MASK_PROD_LEDS,    SOLID_PAT_WHITE},       /* LED_IND_ID_POWERING_DOWN */
    {LED_MASK_PROD_LEDS,    SOLID_PAT_WHITE},       /* LED_IND_ID_POWERED_ON */
    {LED_MASK_PROD_LEDS,    DIM_PATT_WHITE},        /* LED_IND_ID_NETWORK_STANDBY_MODE */

    {LED_MASK_CONN_LEDS,    SOLID_PAT_BLUE},        /* LED_IND_ID_BT_MODE */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_WHITE},       /* LED_IND_ID_WIFI_MODE */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_RED},         /* LED_IND_ID_AUXIN_MODE */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_GREEN},       /* LED_IND_ID_SPDIF_MODE */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_YELLOW},       /* LED_IND_ID_DSP_TUNING_MODE */
    {LED_MASK_ALL_LEDS,     QUICK_FLASH_PAT_ORANGE}, /* LED_IND_ID_FAST_BOOT_MODE, for production test  */

    /* Network Connectivity */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_WHITE},       /* LED_IND_ID_ETH_CONNECTED */
    {LED_MASK_CONN_LEDS,    DIM_PATT_WHITE},        /* LED_IND_ID_ETH_CONNECTED_IDLE */
    {LED_MASK_CONN_LEDS,    FLASH_PAT_AMBER},       /* LED_IND_ID_WIFI_SETUP_IN_PROGRESS */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_WHITE},       /* LED_IND_ID_WIFI_SIG_STRENGTH_STRONG X > 25%*/
    {LED_MASK_CONN_LEDS,    DIM_PATT_WHITE},        /* LED_IND_ID_WIFI_SIG_STRENGTH_STRONG_IDLE X > 25%*/
    {LED_MASK_CONN_LEDS,    SOLID_PAT_AMBER},       /* LED_IND_ID_WIFI_SIG_STRENGTH_NORMAL  10 < X <= 25% */
    {LED_MASK_CONN_LEDS,    DIM_PATT_AMBER},        /* LED_IND_ID_WIFI_SIG_STRENGTH_NORMAL_IDLE  10 < X <= 25% */
    {LED_MASK_CONN_LEDS,    SOLID_PAT_RED},         /* LED_IND_ID_WIFI_SIG_STRENGTH_WEAK X<= 10% */
    {LED_MASK_CONN_LEDS,    DIM_PATT_RED},          /* LED_IND_ID_WIFI_SIG_STRENGTH_WEAK X<= 10% */
    {LED_MASK_CONN_LEDS,    QUICK_FLASH_PAT_RED},   /* LED_IND_ID_WIFI_ERROR */
    {LED_MASK_CONN_LEDS,    TRANS_OFF_PAT_1},       /* LED_IND_ID_WIFI_NOT_CONFIGURED */

    /* BT Connectivity */
    {LED_MASK_CONN_LEDS,    FLASH_PAT_BLUE},        /* LED_IND_ID_BLE_PAIRING_ENABLED  */
    {LED_MASK_CONN_LEDS,    TRANS_PAT_BLUE_1},      /* LED_IND_ID_BT_PAIRING_SUCCESSFULL  */
    {LED_MASK_CONN_LEDS,    TRANS_PAT_RED_1},       /* LED_IND_ID_BT_PAIRING_FAIL  */

    /* Other status */
    {LED_MASK_ALL_LEDS,     PULSE_PAT_RED},         /* LED_IND_ID_SW_UPDATING*/
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_PAT_RED},   /* LED_IND_ID_PROD_FW_ERROR */
    {LED_MASK_PROD_LEDS,    PULSE_PAT_AMBER},       /* LED_IND_ID_HW_OVER_HEAT */
    {LED_MASK_ALL_LEDS,     TRANS_PAT_RED_1},       /* LED_IND_ID_FACTORY_RESET_TRIGGERED */
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_ONCE_PAT_WHITE},   /* LED_IND_ID_SHORT_PRESS */
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_PAT_WHITE},       /* LED_IND_ID_CONTINUOUS_PRESS  only for volume key*/
    {LED_MASK_PROD_LEDS,    QUICK_FLASH_ONCE_PAT_WHITE},  /* LED_IND_ID_LP_AND_VLP  for long press and very long press */

    {LED_MASK_CONN_LEDS,    TRANS_OFF_PAT_1},       /* LED_IND_ID_CONN_TRANS_OFF */
    {LED_MASK_CONN_LEDS,    OFF_PATT},              /* LED_IND_ID_CONN_OFF */
    {LED_MASK_PROD_LEDS,    OFF_PATT},              /* LED_IND_ID_PROD_OFF */
    {LED_MASK_ALL_LEDS,     TRANS_OFF_PAT_1},       /* LED_IND_ID_ALL_TRANS_OFF */

    /* add the led indication above this line */
    {LED_MASK_ALL_LEDS,     OFF_PATT},          /* LED_IND_ID_ALL_OFF */
};

/* Note: the member order of the array should be changed accordign to eAudioSource in mainApp.h*/
static tSourceHandlerList sourceHandlerList[AUDIO_SOURCE_MAX] = {
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_I2S_1,      LED_IND_ID_WIFI_MODE,   TRUE},    //AUDIO_SOURCE_WIFI
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_I2S_1,      LED_IND_ID_BT_MODE,     TRUE},    //AUDIO_SOURCE_BLUETOOTH
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_I2S_2,      LED_IND_ID_AUXIN_MODE,  FALSE},   //AUDIO_SOURCE_AUXIN
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_SPDIF_0,    LED_IND_ID_SPDIF_MODE,  FALSE},   //AUDIO_SOURCE_SPDIF_IN
#ifdef HAS_ETHERNET
    {(QStateHandler *)&MainApp_Active,        AUDIO_CHANNEL_I2S_2,      LED_IND_ID_DSP_TUNING_MODE,  FALSE},   //AUDIO_SOURCE_DSP_TUNING
#endif
};



