/*
-------------------------------------------------------------------------------
TYMPHANY LTD





                  Debug Server Config
                  -------------------------

                  SW Module Document




@file        DebugSrv.config
@brief       Debug server config file
@author      Dmitry.Abdulov 
@date        2014-02-27
@copyright (c) Tymphany Ltd. All rights reserved.

Change History:
VERSION    : 1    DRAFT      2014-02-27     Dmitry.Abdulov 
DESCRIPTION: config file contain list of commands for Debug CLI
SCO/ERROR  : 
-------------------------------------------------------------------------------
*/

/* command line interface */
#include "cli.h"
#include "cli_gpio_cmd.h"
#include "cli_led_cmd.h"
#include "cli_allplay_cmd.h"
#include "cli_adc_cmd.h"
#include "cli_auxin_cmd.h"
#include "cli_pt_cmd.h"
#include "cli_dsp_cmd.h"
#include "cli_version_cmd.h"
#include "cli_allplayWifiConnect_cmd.h"
#ifdef HAS_ALLPLAY_BT
#include "cli_bluetooth_cmd.h"
#endif
#ifdef HAS_AUDIO_ADC
#include "cli_audio_adc_cmd.h"
#endif

#ifndef NDEBUG
CLI_Command_Definition_t * pCLI_Commands[] =
{
    &cli_gpio_cmd,
    &cli_led_cmd,
    &cli_allplay_cmd,
    &cli_allplayWifi_cmd,
#ifdef HAS_ALLPLAY_BT
    &cli_bluetooth_cmd,
#endif
#ifdef HAS_AUDIO_ADC
    &cli_audio_adc_cmd,
#endif
    &cli_adc_cmd,
    &cli_auxin_cmd,
    &cli_version_cmd,
    &cli_pt_cmd,
    &cli_dsp_cmd
};
#else
CLI_Command_Definition_t * pCLI_Commands[] = {&cli_pt_cmd};
#endif

const uint8 NUM_OF_CLI_CMDS = sizeof(pCLI_Commands) / sizeof(pCLI_Commands[0]);
